In [4]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv("credit_train.csv")

In [27]:
df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

# Preprocessing

In [9]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

### PreProcessing ID and Customer_ID

In [12]:
df_id = df.copy()

In [13]:
df_id["ID"].nunique()

100000

##### As ID is unique for all values. We can drop them.

In [14]:
df_id.drop(columns = "ID", axis = 1, inplace = True)

In [16]:
df_id.head()

,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [17]:
df_id["Customer_ID"].nunique()

12500

### PreProcessing Month

In [18]:
df_month = df_id.copy()

In [19]:
df_month["Month"].nunique()

8

In [20]:
df_month["Month"].value_counts()

January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: Month, dtype: int64

### PreProcessing Name

In [21]:
df_name = df_month.copy()

In [22]:
df_name["Name"].nunique()

10139

In [23]:
df_name.head()

,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

### PreProcessing SSN

In [24]:
df_ssn = df_name.copy()

In [25]:
df_ssn["SSN"].nunique()

12501

### PreProcessing Occupation

In [28]:
df_occupation = df_ssn.copy()

In [29]:
df_occupation["Occupation"].nunique()

16

In [30]:
df_occupation["Occupation"].value_counts()

_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: Occupation, dtype: int64

### PreProcessing Annual Income

In [31]:
df_annual_income = df_occupation.copy()

In [33]:
df_annual_income["Annual_Income"].nunique()

18940

### PreProcessing Monthly_Inhand_Salary

In [34]:
df_monthly_inhand_salary = df_annual_income.copy()

In [35]:
df_monthly_inhand_salary["Monthly_Inhand_Salary"].nunique()

13235

### PreProcessing Num_Bank_Accounts

In [36]:
df_num_bank_accounts = df_monthly_inhand_salary.copy()

In [37]:
df_num_bank_accounts["Num_Bank_Accounts"].nunique()

943

### PreProcessing Num_Credit_Card

In [38]:
df_num_credit_card = df_num_bank_accounts.copy()

In [39]:
df_num_credit_card["Num_Credit_Card"].nunique()

1179

### PreProcessing Interest_Rate

In [40]:
df_interest_rate = df_num_credit_card.copy()

In [41]:
df_interest_rate["Interest_Rate"].nunique()

1750

### PreProcessing Num_of_Loan

In [42]:
df_num_of_loan = df_interest_rate.copy()

In [43]:
df_num_of_loan["Num_of_Loan"].nunique()

434

### PreProcessing Type_of_Loan

In [44]:
df_type_of_loan = df_num_of_loan.copy()

In [45]:
df_type_of_loan["Type_of_Loan"].nunique()

6260

### PreProcessing Delay_from_due_date

In [46]:
df_delay_from_due_date = df_type_of_loan.copy()

In [47]:
df_delay_from_due_date["Delay_from_due_date"].nunique()

73

### PreProcessing Num_of_Delayed_Payment

In [48]:
df_num_of_delayed_payment = df_delay_from_due_date.copy()

In [49]:
df_num_of_delayed_payment["Num_of_Delayed_Payment"].nunique()

749

### PreProcessing Changed_Credit_Limit

In [50]:
df_changed_credit_limit = df_num_of_delayed_payment.copy()

In [51]:
df_changed_credit_limit["Changed_Credit_Limit"].nunique()

4384

### PreProcessing Num_Credit_Inquiries

In [52]:
df_num_credit_inquires = df_changed_credit_limit.copy()

In [53]:
df_num_credit_inquires["Num_Credit_Inquiries"].nunique()

1223

### PreProcessing Credit_Mix

In [54]:
df_credit_mix = df_num_credit_inquires.copy()

In [55]:
df_credit_mix["Credit_Mix"].nunique()

4

### PreProcessing Outstanding_Debt

In [56]:
df_outstanding_debt = df_credit_mix.copy()

In [57]:
df_outstanding_debt["Outstanding_Debt"].nunique()

13178

### PreProcessing Credit_Utilization_Ratio

In [58]:
df_credit_utilization_ratio = df_outstanding_debt.copy()

In [59]:
df_credit_utilization_ratio["Credit_Utilization_Ratio"].nunique()

100000

### PreProcessing Credit_History_Age

In [60]:
df_credit_history_age = df_credit_utilization_ratio.copy()

In [61]:
df_credit_history_age["Credit_History_Age"].nunique()

404

### PreProcessing Payment_of_Min_Amount

In [62]:
df_payment_of_min_amount = df_credit_history_age.copy()

In [63]:
df_payment_of_min_amount["Payment_of_Min_Amount"].nunique()

3

### PreProcessing Total_EMI_per_month

In [64]:
df_total_emi_per_month = df_payment_of_min_amount.copy()

In [65]:
df_total_emi_per_month["Total_EMI_per_month"].nunique()

14950

### PreProcessing Amount_invested_monthly

In [66]:
df_amount_invested_monthly = df_total_emi_per_month.copy()

In [67]:
df_amount_invested_monthly["Amount_invested_monthly"].nunique()

91049

### PreProcessing Payment_Behaviour

In [69]:
df_payment_behaviour = df_amount_invested_monthly.copy()

In [70]:
df_payment_behaviour["Payment_Behaviour"].nunique()

7

### PreProcessing Monthly_Balance

In [71]:
df_monthly_balance = df_payment_behaviour.copy()

In [72]:
df_payment_behaviour["Payment_Behaviour"].nunique()

7

### PreProcessing Credit_Score

In [73]:
df_credit_score = df_payment_behaviour.copy()

In [74]:
df_credit_score["Credit_Score"].nunique()

3