In [171]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')
import itertools

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [172]:
df = pd.read_csv("credit_train.csv")

In [173]:
df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

# Preprocessing

In [174]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

### PreProcessing ID and Customer_ID

In [175]:
df_id = df.copy()

In [176]:
df_id["ID"].nunique()

100000

##### As ID is unique for all values. We can drop them.

In [177]:
df_id.drop(columns = "ID", axis = 1, inplace = True)

In [178]:
df_id.head()

,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

Customer_ID, Name, SSN all seems to be same

In [179]:
df_id["Customer_ID"].nunique()
df_id["SSN"].nunique()

12500

12501

Check How many unique SSN each customer_ID has

In [180]:
df_id.groupby(['Customer_ID', 'SSN'])['SSN'].unique()

Customer_ID  SSN
CUS_0x1000   913-74-1218    [913-74-1218]
CUS_0x1009   #F%$D@*&8        [#F%$D@*&8]
             063-67-6938    [063-67-6938]
CUS_0x100b   #F%$D@*&8        [#F%$D@*&8]
             238-62-0395    [238-62-0395]
                                ...
CUS_0xff3    726-35-5322    [726-35-5322]
CUS_0xff4    655-05-7666    [655-05-7666]
CUS_0xff6    541-92-8371    [541-92-8371]
CUS_0xffc    226-86-7294    [226-86-7294]
CUS_0xffd    832-88-8320    [832-88-8320]
Name: SSN, Length: 17115, dtype: object

In [181]:
unique_values = list(df_id[df_id['Customer_ID'] == 'CUS_0xd40']['SSN'].unique())
unique_values

['821-00-0265', '#F%$D@*&8']

Each Customer_ID seems to have a unique SSN except for some noisy data (#F%$D@*&8)

### PreProcessing SSN

In [182]:
df_ssn = df_id.copy()

In [183]:
(df_ssn["SSN"] == '#F%$D@*&8').sum()

5572

In [184]:
df_ssn

,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,6,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [185]:
corresponding_unique_values = {}

In [186]:
unique_customer_id = list(df_ssn['Customer_ID'].unique())

In [187]:
list(df_ssn[df_ssn['Customer_ID'] == 'CUS_0xd40']['SSN'].unique())

['821-00-0265', '#F%$D@*&8']

Replace SSN according to corresponding Customer_ID

In [188]:
for id in unique_customer_id:
    corresponding_unique_values[id] = list(df_ssn[df_ssn['Customer_ID'] == id]['SSN'].unique())

In [189]:
dict(itertools.islice(corresponding_unique_values.items(), 5))

{'CUS_0xd40': ['821-00-0265', '#F%$D@*&8'],
 'CUS_0x21b1': ['004-07-5839'],
 'CUS_0x2dbc': ['486-85-3974'],
 'CUS_0xb891': ['072-31-6145', '#F%$D@*&8'],
 'CUS_0x1cdb': ['615-06-7821']}

In [190]:
(df_ssn['SSN'] == '#F%$D@*&8').sum()

count = 0
for i in range(len(df_ssn)):
    if(df_ssn['SSN'][i].startswith('#')):
        count += 1 
count

5572

5572

In [200]:
[val for val in corresponding_unique_values[df_ssn['Customer_ID'][0]] if not val.startswith('#')]
[val for val in corresponding_unique_values['CUS_0xd40'] if not val.startswith('#')]

# for i in range(len(df_ssn)):
#     if df_ssn['SSN'][i].startswith('#'):
#         print('Hey')

['821-00-0265']

['821-00-0265']

We can thus deduce that all noisy data starts with "#"

Replacing values of noisy data

In [201]:
for index in range(len(df_ssn)):
    df_ssn['SSN'][index] = [val for val in corresponding_unique_values[df_ssn['Customer_ID'][index]] if not val.startswith('#')]

In [203]:
df_ssn.head()

,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,Aaron Maashoh,23,[821-00-0265],Scientist,19114.12,1824.843333,3,4,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,February,Aaron Maashoh,23,[821-00-0265],Scientist,19114.12,NaN,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,March,Aaron Maashoh,-500,[821-00-0265],Scientist,19114.12,NaN,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,April,Aaron Maashoh,23,[821-00-0265],Scientist,19114.12,NaN,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,May,Aaron Maashoh,23,[821-00-0265],Scientist,19114.12,1824.843333,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [193]:
for id in unique_customer_id:
    corresponding_unique_values[id] = list(df_ssn[df_ssn['Customer_ID'] == id]['SSN'].unique())
dict(itertools.islice(corresponding_unique_values.items(), 5))

{'CUS_0xd40': ['821-00-0265', '#F%$D@*&8'],
 'CUS_0x21b1': ['004-07-5839'],
 'CUS_0x2dbc': ['486-85-3974'],
 'CUS_0xb891': ['072-31-6145', '#F%$D@*&8'],
 'CUS_0x1cdb': ['615-06-7821']}

In [52]:
df_ssn["SSN"].nunique()

12501

### PreProcessing Month

In [53]:
df_month = df_id.copy()

In [54]:
df_month["Month"].nunique()

8

In [55]:
df_month["Month"].value_counts()

January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: Month, dtype: int64

### PreProcessing Name

In [56]:
df_name = df_month.copy()

In [57]:
df_name["Name"].nunique()

10139

In [58]:
df_name.head()

,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

### PreProcessing Occupation

In [59]:
df_occupation = df_name.copy()

In [29]:
df_occupation["Occupation"].nunique()

16

In [30]:
df_occupation["Occupation"].value_counts()

_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: Occupation, dtype: int64

### PreProcessing Annual Income

In [31]:
df_annual_income = df_occupation.copy()

In [33]:
df_annual_income["Annual_Income"].nunique()

18940

### PreProcessing Monthly_Inhand_Salary

In [34]:
df_monthly_inhand_salary = df_annual_income.copy()

In [35]:
df_monthly_inhand_salary["Monthly_Inhand_Salary"].nunique()

13235

### PreProcessing Num_Bank_Accounts

In [36]:
df_num_bank_accounts = df_monthly_inhand_salary.copy()

In [37]:
df_num_bank_accounts["Num_Bank_Accounts"].nunique()

943

### PreProcessing Num_Credit_Card

In [38]:
df_num_credit_card = df_num_bank_accounts.copy()

In [39]:
df_num_credit_card["Num_Credit_Card"].nunique()

1179

### PreProcessing Interest_Rate

In [40]:
df_interest_rate = df_num_credit_card.copy()

In [41]:
df_interest_rate["Interest_Rate"].nunique()

1750

### PreProcessing Num_of_Loan

In [42]:
df_num_of_loan = df_interest_rate.copy()

In [43]:
df_num_of_loan["Num_of_Loan"].nunique()

434

### PreProcessing Type_of_Loan

In [44]:
df_type_of_loan = df_num_of_loan.copy()

In [45]:
df_type_of_loan["Type_of_Loan"].nunique()

6260

### PreProcessing Delay_from_due_date

In [46]:
df_delay_from_due_date = df_type_of_loan.copy()

In [47]:
df_delay_from_due_date["Delay_from_due_date"].nunique()

73

### PreProcessing Num_of_Delayed_Payment

In [48]:
df_num_of_delayed_payment = df_delay_from_due_date.copy()

In [49]:
df_num_of_delayed_payment["Num_of_Delayed_Payment"].nunique()

749

### PreProcessing Changed_Credit_Limit

In [50]:
df_changed_credit_limit = df_num_of_delayed_payment.copy()

In [51]:
df_changed_credit_limit["Changed_Credit_Limit"].nunique()

4384

### PreProcessing Num_Credit_Inquiries

In [52]:
df_num_credit_inquires = df_changed_credit_limit.copy()

In [53]:
df_num_credit_inquires["Num_Credit_Inquiries"].nunique()

1223

### PreProcessing Credit_Mix

In [54]:
df_credit_mix = df_num_credit_inquires.copy()

In [55]:
df_credit_mix["Credit_Mix"].nunique()

4

### PreProcessing Outstanding_Debt

In [56]:
df_outstanding_debt = df_credit_mix.copy()

In [57]:
df_outstanding_debt["Outstanding_Debt"].nunique()

13178

### PreProcessing Credit_Utilization_Ratio

In [58]:
df_credit_utilization_ratio = df_outstanding_debt.copy()

In [59]:
df_credit_utilization_ratio["Credit_Utilization_Ratio"].nunique()

100000

### PreProcessing Credit_History_Age

In [60]:
df_credit_history_age = df_credit_utilization_ratio.copy()

In [61]:
df_credit_history_age["Credit_History_Age"].nunique()

404

### PreProcessing Payment_of_Min_Amount

In [62]:
df_payment_of_min_amount = df_credit_history_age.copy()

In [63]:
df_payment_of_min_amount["Payment_of_Min_Amount"].nunique()

3

### PreProcessing Total_EMI_per_month

In [64]:
df_total_emi_per_month = df_payment_of_min_amount.copy()

In [65]:
df_total_emi_per_month["Total_EMI_per_month"].nunique()

14950

### PreProcessing Amount_invested_monthly

In [66]:
df_amount_invested_monthly = df_total_emi_per_month.copy()

In [67]:
df_amount_invested_monthly["Amount_invested_monthly"].nunique()

91049

### PreProcessing Payment_Behaviour

In [69]:
df_payment_behaviour = df_amount_invested_monthly.copy()

In [70]:
df_payment_behaviour["Payment_Behaviour"].nunique()

7

### PreProcessing Monthly_Balance

In [71]:
df_monthly_balance = df_payment_behaviour.copy()

In [72]:
df_payment_behaviour["Payment_Behaviour"].nunique()

7

### PreProcessing Credit_Score

In [73]:
df_credit_score = df_payment_behaviour.copy()

In [74]:
df_credit_score["Credit_Score"].nunique()

3