# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

#Ignores warning messages.
import warnings
warnings.filterwarnings('ignore')

import itertools
import statistics
from detailed_details import detailed_details

#Prints all statements
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

##### The following unique_SSN was calculated later while Pre-Processing and stored so Loading it would be easy.

In [2]:
unique_SSN = []

# open file and read the content in a list
with open(r'list_files//unique_SSN.txt', 'r') as fp:
    for line in fp:
        # remove linebreak from a current name
        # linebreak is the last character of each line
        x = line[:-1]

        # add current item to the list
        unique_SSN.append(int(x))

# Loading Dataset

In [11]:
df = pd.read_csv('credit_train.csv')

In [12]:
df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

# Preprocessing

In [13]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

## PreProcessing ID and Customer_ID

In [14]:
df_id = df.copy()

In [15]:
print('Unique Value Count :',df_id['ID'].nunique())
print('Null Value Count :',df_id['ID'].isna().sum())

Unique Value Count : 100000
Null Value Count : 0

##### As ID seems not that important. We can drop them.

In [16]:
df_id.drop(columns = 'ID', axis = 1, inplace = True)

In [17]:
df_id.head()

,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

### Checking if Customer_ID, Name, SSN are all same or are belonging to a single Customer

In [18]:
print('Unique Value Count :',df_id['Customer_ID'].nunique())
print('Null Value Count :',df_id["SSN"].nunique())

Unique Value Count : 12500
Null Value Count : 12501

##### Thus they seeem to belong to the same Customer. A single Noisy value seems to be present.

### Check what unique SSN each customer_ID has

In [19]:
df_id.groupby(['Customer_ID', 'SSN'])['SSN'].unique()

Customer_ID  SSN
CUS_0x1000   913-74-1218    [913-74-1218]
CUS_0x1009   #F%$D@*&8        [#F%$D@*&8]
             063-67-6938    [063-67-6938]
CUS_0x100b   #F%$D@*&8        [#F%$D@*&8]
             238-62-0395    [238-62-0395]
                                ...
CUS_0xff3    726-35-5322    [726-35-5322]
CUS_0xff4    655-05-7666    [655-05-7666]
CUS_0xff6    541-92-8371    [541-92-8371]
CUS_0xffc    226-86-7294    [226-86-7294]
CUS_0xffd    832-88-8320    [832-88-8320]
Name: SSN, Length: 17115, dtype: object

In [20]:
unique_values = list(df_id[df_id['Customer_ID'] == 'CUS_0xd40']['SSN'].unique())
unique_values

['821-00-0265', '#F%$D@*&8']

##### Each Customer_ID seems to have a unique SSN except for some noisy data (#F%$D@*&8)

## PreProcessing SSN

In [21]:
df_ssn = df_id.copy()

##### Calculating Noisy SSN Values

In [22]:
(df_ssn["SSN"] == '#F%$D@*&8').sum()

5572

### Calculating corresponding Unique_SSN_Values for each Customer_ID

##### Following line of code will be executed later in this file. So giving a brief description.

In [23]:
# Creating a empty dictionary. The keys of dictionary will be Customer_ID and the values are Unique SSNs

corresponding_unique_ssn_values = {}

# Getting list of Unique Customer_ID

unique_customer_id = list(df_ssn['Customer_ID'].unique())

print('--- Demonstration or Example ---')
print(' ------------------------------')
print(' Unique Customer_ID : CUS_0xd40')
print(' Unique SSN values : ', list(df_ssn[df_ssn['Customer_ID'] == 'CUS_0xd40']['SSN'].unique()))
print(' -------------------------------')
print(' Unique Customer_ID : CUS_0x1000')
print(' Unique SSN values : ', list(df_ssn[df_ssn['Customer_ID'] == 'CUS_0x1000']['SSN'].unique()))

for id in unique_customer_id:
    corresponding_unique_ssn_values[id] = list(df_ssn[df_ssn['Customer_ID'] == id]['SSN'].unique())

--- Demonstration or Example ---
 ------------------------------
 Unique Customer_ID : CUS_0xd40
 Unique SSN values :  ['821-00-0265', '#F%$D@*&8']
 -------------------------------
 Unique Customer_ID : CUS_0x1000
 Unique SSN values :  ['913-74-1218']

In [24]:
dict(itertools.islice(corresponding_unique_ssn_values.items(), 5))

{'CUS_0xd40': ['821-00-0265', '#F%$D@*&8'],
 'CUS_0x21b1': ['004-07-5839'],
 'CUS_0x2dbc': ['486-85-3974'],
 'CUS_0xb891': ['072-31-6145', '#F%$D@*&8'],
 'CUS_0x1cdb': ['615-06-7821']}

### Replace SSN according to corresponding Customer_ID

##### Here we use list comphrension to deselect noisy data from the above dictionary and return only valid SSN numbers.

In [25]:
print(' --- Includes Noisy Data ---')
[val for val in corresponding_unique_ssn_values['CUS_0xd40'] ]
[val for val in corresponding_unique_ssn_values['CUS_0x21b1']]
print(' --- Deslecting Noisy Data ---')
[val for val in corresponding_unique_ssn_values['CUS_0xd40'] if not val.startswith('#')][0]
[val for val in corresponding_unique_ssn_values['CUS_0x21b1'] if not val.startswith('#')][0]

 --- Includes Noisy Data ---

['821-00-0265', '#F%$D@*&8']

['004-07-5839']

 --- Deslecting Noisy Data ---

'821-00-0265'

'004-07-5839'

##### Replacing values of noisy data

In [26]:
for index in range(len(df_ssn)):
    if df_ssn['SSN'][index].startswith('#'):
        df_ssn['SSN'][index] = [val for val in corresponding_unique_ssn_values[df_ssn['Customer_ID'][index]] if not val.startswith('#')][0]

In [27]:
df_ssn.head()

,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

##### Checking if Noisy values have been replaced.

In [28]:
for id in unique_customer_id:
    corresponding_unique_ssn_values[id] = list(df_ssn[df_ssn['Customer_ID'] == id]['SSN'].unique())

In [29]:
dict(itertools.islice(corresponding_unique_ssn_values.items(), 5))

{'CUS_0xd40': ['821-00-0265'],
 'CUS_0x21b1': ['004-07-5839'],
 'CUS_0x2dbc': ['486-85-3974'],
 'CUS_0xb891': ['072-31-6145'],
 'CUS_0x1cdb': ['615-06-7821']}

##### Making SSN more Readable by replacing - with empty value and making it a int value

In [30]:
for index in range(len(df_ssn)):
    df_ssn['SSN'][index] = int (df_ssn['SSN'][index].replace('-',''))

In [31]:
print('Unique SSN value : ',df_ssn['SSN'].nunique())
print('Unique Customer_ID : ',df_ssn['Customer_ID'].nunique())

Unique SSN value :  12500
Unique Customer_ID :  12500

##### This further shows that all noise is removed from SSN column.

### Now dropping column Customer_ID because each row can now be identified by SSN and SSN is easy to Read.

In [32]:
df_ssn.drop(columns = ['Customer_ID'],axis = 1, inplace = True)

##### Setting Checkpoints

In [33]:
df_ssn.to_csv('checkpoints//1_df_ssn.csv',index = False )

## PreProcessing Month

In [34]:
df_month = pd.read_csv('checkpoints//1_df_ssn.csv')

In [35]:
df_month['Month'].value_counts()

January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: Month, dtype: int64

##### Leaving months as it is for now.

## PreProcessing Name

In [36]:
df_name = df_month.copy()

In [37]:
print('Unique Name Count : ',df_name['Name'].nunique())
print('Null Value Count : ',df_name['Name'].isna().sum())

Unique Name Count :  10139
Null Value Count :  9985

##### Name maynot be that relevant so dropping. Also each row can be uniquely determined by SSN values.

In [38]:
df_name.drop(columns = ['Name'], axis = 1, inplace = True)

In [39]:
df_name.head()

,Month,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,February,23,821000265,Scientist,19114.12,NaN,3,4,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,March,-500,821000265,Scientist,19114.12,NaN,3,4,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,April,23,821000265,Scientist,19114.12,NaN,3,4,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,May,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

## PreProcessing Age

In [40]:
df_age = df_name.copy()

In [41]:
print('Unique Age Count : ',df_age['Age'].nunique())
print('Null Value Count : ',df_age['Age'].isna().sum())

Unique Age Count :  1788
Null Value Count :  0

### Count possible noisy data in Age (age upper limit = 100 and lower limit is 0)

In [42]:
underscore_age = 0
underscore_age_list = []
noisy_age = 0
noisy_age_list = []
for index in range(len(df_age)):
    if '_' in  df_age['Age'][index]:
        underscore_age += 1
        underscore_age_list.append(df_age['Age'][index])
    try:
        if int(df_age['Age'][index]) > 100 or int(df_age['Age'][index] <= 0):
            noisy_age +=1
            noisy_age_list.append(df_age['Age'][index])
            
    except:
        pass
print("Underscore_age Count : ",underscore_age,"|| Unique Underscore_age count :",len(set(underscore_age_list)), " || Example : ",underscore_age_list[0:5])
print("Noisy_age Count : ",noisy_age,"|| Unique Noisy_age count :",len(set(noisy_age_list))," || Example : ",noisy_age_list[0:5])

Underscore_age Count :  4939 || Unique Underscore_age count : 127  || Example :  ['28_', '34_', '30_', '24_', '33_']
Noisy_age Count :  1805 || Unique Noisy_age count : 1614  || Example :  ['7580', '181', '995', '5079', '6409']

#### Probable Unique age values <br>
1788 - 127 - 1608 =53

##### Ommiting the underscore in underscore ages.

In [43]:
for index in range(len(df_age)):
    if '_' in df_age['Age'][index]:
        df_age['Age'][index] = df_age['Age'][index].replace('_','')

##### Ommiting noisy ages

##### We load unique SSN Earlier

In [44]:
corresponding_unique_age_values= {}

df_age['Age'] = df_age['Age'].astype(int)

for ssn in unique_SSN:
    corresponding_unique_age_values[ssn] = list(df_age[df_age['SSN'] == ssn]['Age'].unique())

In [45]:
dict(itertools.islice(corresponding_unique_age_values.items(),10))

{821000265: [23, -500],
 4075839: [28],
 486853974: [34],
 72316145: [54, 55],
 615067821: [21],
 612708987: [31],
 411510676: [33, 34],
 500926408: [7580, 30],
 70191622: [23, 24],
 366681681: [44, 45]}

##### For now allowing multiple valid ages but replacing the noisy data.

In [46]:
[val for val in corresponding_unique_age_values[500926408] ]
[val for val in corresponding_unique_age_values[500926408] if ((int(val) >= 0) and (int(val) <= 100)) ][0]

[7580, 30]

30

In [47]:
for index in range(len(df_age)):
    if df_age['Age'][index] > 100 or df_age['Age'][index] <= 0:
        df_age['Age'][index] = [val for val in corresponding_unique_age_values[df_age['SSN'][index]] if ((val > 0) and (val <= 100)) ][0]

### Lets Check

In [48]:
noisy_age = 0
noisy_age_list = []
for index in range(len(df_age)):
    if df_age['Age'][index] > 120 or df_age['Age'][index] <= 0:
        noisy_age +=1
        noisy_age_list.append(df_age['Age'][index])
print("Noisy_age Count : ",noisy_age,"|| Unique Noisy_age count :",len(set(noisy_age_list))," || Example : ",noisy_age_list[0:5])

Noisy_age Count :  0 || Unique Noisy_age count : 0  || Example :  []

In [49]:
df_age.to_csv('checkpoints//2_df_age.csv',index = False)

## PreProcessing Occupation

In [50]:
df_occupation = pd.read_csv('checkpoints//2_df_age.csv')

In [51]:
df_occupation.head()

,Month,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,February,23,821000265,Scientist,19114.12,NaN,3,4,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,March,23,821000265,Scientist,19114.12,NaN,3,4,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,April,23,821000265,Scientist,19114.12,NaN,3,4,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,May,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [52]:
print('Unique Value Count :',df_occupation['Occupation'].nunique())
print('Null Value Count : ',df_occupation['Occupation'].isna().sum())

Unique Value Count : 16
Null Value Count :  0

In [53]:
df_occupation["Occupation"].value_counts()

_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: Occupation, dtype: int64

##### _______ seems to be noisy data.

In [54]:
corresponding_unique_occupation_values = {}
for ssn in unique_SSN:
    corresponding_unique_occupation_values[ssn] = list(df_occupation[df_occupation['SSN'] == ssn]['Occupation'].unique())

In [55]:
dict(itertools.islice(corresponding_unique_occupation_values.items(),10))

{821000265: ['Scientist'],
 4075839: ['_______', 'Teacher'],
 486853974: ['_______', 'Engineer'],
 72316145: ['Entrepreneur', '_______'],
 615067821: ['Developer'],
 612708987: ['Lawyer', '_______'],
 411510676: ['Lawyer'],
 500926408: ['Media_Manager', '_______'],
 70191622: ['Doctor'],
 366681681: ['Journalist']}

In [56]:
[val for val in corresponding_unique_occupation_values[4075839] ]
[val for val in corresponding_unique_occupation_values[4075839] if not val.startswith('_') ][0]

['_______', 'Teacher']

'Teacher'

### Replacing the noisy data.

In [57]:
for index in range(len(df_occupation)):
    if df_occupation['Occupation'][index].startswith('_'):
        df_occupation['Occupation'][index] = [val for val in corresponding_unique_occupation_values[df_occupation['SSN'][index]] if not val.startswith('_') ][0]

In [58]:
df_occupation["Occupation"].value_counts()

Lawyer           7096
Engineer         6864
Architect        6824
Mechanic         6776
Scientist        6744
Accountant       6744
Developer        6720
Media_Manager    6720
Teacher          6672
Entrepreneur     6648
Doctor           6568
Journalist       6536
Manager          6432
Musician         6352
Writer           6304
Name: Occupation, dtype: int64

### Checking

In [59]:
for ssn in unique_SSN:
    corresponding_unique_occupation_values[ssn] = list(df_occupation[df_occupation['SSN'] == ssn]['Occupation'].unique())
dict(itertools.islice(corresponding_unique_occupation_values.items(),10))

{821000265: ['Scientist'],
 4075839: ['Teacher'],
 486853974: ['Engineer'],
 72316145: ['Entrepreneur'],
 615067821: ['Developer'],
 612708987: ['Lawyer'],
 411510676: ['Lawyer'],
 500926408: ['Media_Manager'],
 70191622: ['Doctor'],
 366681681: ['Journalist']}

## PreProcessing Annual Income

In [60]:
df_annual_income = df_occupation.copy()

In [61]:
print('Unique Value Count :',df_annual_income['Annual_Income'].nunique())
print('Null Value Count :',df_annual_income['Annual_Income'].isna().sum())

Unique Value Count : 18940
Null Value Count : 0

### Checking noisy datas

In [62]:
underscore_annual_income = 0
underscore_annual_income_list = []
for index in range(len(df_annual_income)):
    if '_' in  df_annual_income['Annual_Income'][index]:
        underscore_annual_income += 1
        underscore_annual_income_list.append(df_annual_income['Annual_Income'][index])
print("Underscore_annual_income Count : ",underscore_annual_income,"|| Unique Underscore_annual_income count :",len(set(underscore_annual_income_list)), " || Example : ",underscore_annual_income_list[0:5])

Underscore_annual_income Count :  6980 || Unique Underscore_annual_income count : 5503  || Example :  ['34847.84_', '30689.89_', '35547.71_', '34081.38_', '114838.41_']

### Ommitting the underscore annual income

In [63]:
for index in range(len(df_annual_income)):
    if '_' in df_annual_income['Annual_Income'][index]:
        df_annual_income['Annual_Income'][index] = df_annual_income['Annual_Income'][index].replace('_','')

In [64]:
underscore_annual_income = 0
underscore_annual_income_list = []
for index in range(len(df_annual_income)):
    if '_' in  df_annual_income['Annual_Income'][index]:
        underscore_annual_income += 1
        underscore_annual_income_list.append(df_annual_income['Annual_Income'][index])
print("Underscore_annual_income Count : ",underscore_annual_income,"|| Unique Underscore_annual_income count :",len(set(underscore_annual_income_list)), " || Example : ",underscore_annual_income_list[0:5])

Underscore_annual_income Count :  0 || Unique Underscore_annual_income count : 0  || Example :  []

### Make column numerical.

In [65]:
df_annual_income['Annual_Income'] = df_annual_income['Annual_Income'].astype(float)

### Checking if each Customer has same Annual_Income

In [66]:
corresponding_unique_annual_income_values = {}
for ssn in unique_SSN:
    corresponding_unique_annual_income_values[ssn] = list(df_annual_income[df_annual_income['SSN'] == ssn]['Annual_Income'].unique())

In [67]:
dict(itertools.islice(corresponding_unique_annual_income_values.items(),40))

{821000265: [19114.12],
 4075839: [34847.84],
 486853974: [143162.64],
 72316145: [30689.89],
 615067821: [35547.71],
 612708987: [73928.46],
 411510676: [131313.4, 10909427.0],
 500926408: [34081.38],
 70191622: [114838.41],
 366681681: [31370.8],
 221308554: [33751.27],
 342902649: [88640.24],
 414532918: [54392.16],
 328336328: [8701.545],
 655057666: [25546.26],
 965462491: [31993.78],
 891559364: [92047.08],
 928914452: [32284.62],
 84253745: [97791.42],
 68834394: [19300.34],
 561609294: [19514.88],
 905507912: [10183.015],
 28164402: [106733.13],
 706950150: [12600.445],
 189095267: [57983.12],
 13390742: [20787.69],
 467131148: [34290.12],
 663163845: [43070.24],
 311137309: [28572.39, 6515990.0],
 904887361: [39641.54],
 889072357: [20186.02, 586359.0],
 425476723: [18627.64],
 602551355: [12986.745],
 679266464: [58317.0],
 253912822: [42171.98],
 734547098: [71681.4],
 995378920: [29469.98],
 431584893: [72559.36],
 700603660: [15566.02],
 397289675: [66567.32]}

##### These datas seems to be noise. And maybe Outliers. And can be removed Later in Data Visualization. For now leaving as it is.

In [68]:
df_annual_income.to_csv('checkpoints//3_df_annual_income.csv',index = False)

## PreProcessing Monthly_Inhand_Salary

In [69]:
df_monthly_inhand_salary = pd.read_csv('checkpoints//3_df_annual_income.csv')

In [70]:
print('Unique Value count : ',df_monthly_inhand_salary['Monthly_Inhand_Salary'].nunique())
print('Null Value Count : ',df_monthly_inhand_salary['Monthly_Inhand_Salary'].isna().sum())

Unique Value count :  13235
Null Value Count :  15002

### Checking if each customer have same monthly inhand salary

In [71]:
corresponding_unique_inhand_salary_values = {}
for ssn in unique_SSN:
    corresponding_unique_inhand_salary_values[ssn] = list(df_monthly_inhand_salary[df_monthly_inhand_salary['SSN'] == ssn]['Monthly_Inhand_Salary'].unique())

In [72]:
dict(itertools.islice(corresponding_unique_inhand_salary_values.items(),20))

{821000265: [1824.8433333333328, nan],
 4075839: [3037.986666666666, nan],
 486853974: [12187.22, nan],
 72316145: [2612.4908333333333],
 615067821: [2853.3091666666664, nan],
 612708987: [nan, 5988.705000000001],
 411510676: [11242.783333333333, 10469.207759388815, nan],
 500926408: [nan, 2611.115],
 70191622: [9843.8675, nan],
 366681681: [2825.233333333333, nan],
 221308554: [2948.605833333333, nan],
 342902649: [7266.686666666667, nan],
 414532918: [4766.68, nan],
 328336328: [nan, 519.12875],
 655057666: [2415.855, nan],
 965462491: [2942.148333333333, nan],
 891559364: [nan, 7591.59],
 928914452: [2898.385],
 84253745: [8079.285, nan, 7449.469346853578],
 68834394: [1512.361666666667, nan]}

### Replacing nan with median of the monthly_inhand_salary.

In [73]:
[val for val in corresponding_unique_inhand_salary_values[411510676] ]

statistics.median([val for val in corresponding_unique_inhand_salary_values[411510676] if not np.isnan(val) ])

[11242.783333333333, 10469.207759388815, nan]

10855.995546361075

In [74]:
for index in range(len(df_monthly_inhand_salary)):
    if np.isnan(df_monthly_inhand_salary['Monthly_Inhand_Salary'][index]):
        df_monthly_inhand_salary['Monthly_Inhand_Salary'][index] = statistics.median([val for val in corresponding_unique_inhand_salary_values[411510676] if not np.isnan(val) ])

In [75]:
for ssn in unique_SSN:
    corresponding_unique_inhand_salary_values[ssn] = list(df_monthly_inhand_salary[df_monthly_inhand_salary['SSN'] == ssn]['Monthly_Inhand_Salary'].unique())
dict(itertools.islice(corresponding_unique_inhand_salary_values.items(),10))

{821000265: [1824.8433333333328, 10855.995546361075],
 4075839: [3037.986666666666, 10855.995546361075],
 486853974: [12187.22, 10855.995546361075],
 72316145: [2612.4908333333333],
 615067821: [2853.3091666666664, 10855.995546361075],
 612708987: [10855.995546361075, 5988.705000000001],
 411510676: [11242.783333333333, 10469.207759388815, 10855.995546361075],
 500926408: [10855.995546361075, 2611.115],
 70191622: [9843.8675, 10855.995546361075],
 366681681: [2825.233333333333, 10855.995546361075]}

In [76]:
df_monthly_inhand_salary['Monthly_Inhand_Salary'].isna().sum()

0

In [77]:
df_monthly_inhand_salary.to_csv('checkpoints//4_df_monthly_inhand_salary.csv',index = False)

## PreProcessing Num_Bank_Accounts

In [78]:
df_num_bank_accounts = pd.read_csv('checkpoints//4_df_monthly_inhand_salary.csv')

In [79]:
print('Unique Value Count : ',df_num_bank_accounts['Num_Bank_Accounts'].nunique())
print('Null Value Count : ',df_num_bank_accounts['Num_Bank_Accounts'].isna().sum())

Unique Value Count :  943
Null Value Count :  0

### Checking for Noisy Datas for greater than 50.

In [80]:
bank_account = 0
bank_account_list = []
for index in range(len(df_num_bank_accounts)):
    if (df_num_bank_accounts['Num_Bank_Accounts'][index]) > 50:
        bank_account +=1
        bank_account_list.append(df_num_bank_accounts['Num_Bank_Accounts'][index])
print("bank_account Count : ",bank_account,"|| Unique bank_account count :",len(set(bank_account_list))," || Example : ",bank_account_list[0:5])

bank_account Count :  1280 || Unique bank_account count : 909  || Example :  [1414, 1231, 67, 572, 1488]

### Checking Corresponding number of bank accounts with SSN.

In [81]:
corresponding_unique_bank_accounts_values = {}
for ssn in unique_SSN:
    corresponding_unique_bank_accounts_values[ssn] = list(df_num_bank_accounts[df_num_bank_accounts['SSN'] == ssn]['Num_Bank_Accounts'].unique())

In [82]:
dict(itertools.islice(corresponding_unique_bank_accounts_values.items(),90,100))

{87226137: [3],
 62293192: [2],
 727409990: [4],
 16732103: [6],
 198089791: [7, 91],
 518012262: [9],
 465939571: [5],
 860361556: [3],
 407069232: [3],
 550948995: [6]}

### Replacing number of banks greater than 50

In [83]:
[val for val in corresponding_unique_bank_accounts_values[198089791]]
[val for val in corresponding_unique_bank_accounts_values[198089791] if val <50 ][0]

[7, 91]

7

In [84]:
for index in range(len(df_num_bank_accounts)):
    if df_num_bank_accounts['Num_Bank_Accounts'][index] > 50:
        df_num_bank_accounts['Num_Bank_Accounts'][index] = [val for val in corresponding_unique_bank_accounts_values[df_num_bank_accounts['SSN'][index]] if val <= 50 ][0]

In [85]:
for ssn in unique_SSN:
    corresponding_unique_bank_accounts_values[ssn] = list(df_num_bank_accounts[df_num_bank_accounts['SSN'] == ssn]['Num_Bank_Accounts'].unique())
dict(itertools.islice(corresponding_unique_bank_accounts_values.items(),90,100))

{87226137: [3],
 62293192: [2],
 727409990: [4],
 16732103: [6],
 198089791: [7],
 518012262: [9],
 465939571: [5],
 860361556: [3],
 407069232: [3],
 550948995: [6]}

### Checking for noisy data.

In [86]:
bank_account = 0
bank_account_list = []
for index in range(len(df_num_bank_accounts)):
    if (df_num_bank_accounts['Num_Bank_Accounts'][index]) > 50:
        bank_account +=1
        bank_account_list.append(df_num_bank_accounts['Num_Bank_Accounts'][index])
print("bank_account Count : ",bank_account,"|| Unique bank_account count :",len(set(bank_account_list))," || Example : ",bank_account_list[0:5])

bank_account Count :  0 || Unique bank_account count : 0  || Example :  []

## PreProcessing Num_Credit_Card

In [87]:
df_num_credit_card = df_num_bank_accounts.copy()

In [88]:
print('Unique Value Count : ', df_num_credit_card['Num_Credit_Card'].nunique())
print('Null Value Count : ', df_num_credit_card['Num_Credit_Card'].isna().sum())

Unique Value Count :  1179
Null Value Count :  0

### Checking Noise data for Num_Credit_Card > 50

In [89]:
num_credit_card= 0
num_credit_card_list = []
for index in range(len(df_num_credit_card)):
    if (df_num_credit_card['Num_Credit_Card'][index]) > 50:
        num_credit_card += 1
        num_credit_card_list.append(df_num_credit_card['Num_Credit_Card'][index])
print("num_credit_cardCount : ",num_credit_card,"|| Unique num_credit_cardcount :",len(set(num_credit_card_list))," || Example : ",num_credit_card_list[0:5])

num_credit_cardCount :  2214 || Unique num_credit_cardcount : 1139  || Example :  [1385, 1288, 1029, 488, 1381]

### Checking unique Num_Credit_Card corresponding to SSN.

In [93]:
corresponding_unique_num_credit_card_values = {}
for ssn in unique_SSN:
    corresponding_unique_num_credit_card_values[ssn] = list(df_num_credit_card[df_num_credit_card['SSN'] == ssn]['Num_Credit_Card'].unique())

In [94]:
dict(itertools.islice(corresponding_unique_num_credit_card_values.items(),10))

{821000265: [4],
 4075839: [4, 1385],
 486853974: [5],
 72316145: [5],
 615067821: [5],
 612708987: [1288, 5],
 411510676: [1],
 500926408: [7],
 70191622: [5],
 366681681: [5, 6]}

### Replacing value greater than 50.

In [95]:
[val for val in corresponding_unique_num_credit_card_values[612708987] ]
[val for val in corresponding_unique_num_credit_card_values[612708987] if val <= 50 ][0]

[1288, 5]

5

In [96]:
for index in range(len(df_num_credit_card)):
    if df_num_credit_card['Num_Credit_Card'][index] > 50:
        df_num_credit_card['Num_Credit_Card'][index] = [val for val in corresponding_unique_num_credit_card_values[df_num_credit_card['SSN'][index]] if val <= 50 ][0]

### Checking.

In [97]:
for ssn in unique_SSN:
    corresponding_unique_num_credit_card_values[ssn] = list(df_num_credit_card[df_num_credit_card['SSN'] == ssn]['Num_Credit_Card'].unique())
dict(itertools.islice(corresponding_unique_num_credit_card_values.items(),10))

{821000265: [4],
 4075839: [4],
 486853974: [5],
 72316145: [5],
 615067821: [5],
 612708987: [5],
 411510676: [1],
 500926408: [7],
 70191622: [5],
 366681681: [5, 6]}

In [98]:
num_credit_card= 0
num_credit_card_list = []
for index in range(len(df_num_credit_card)):
    if (df_num_credit_card['Num_Credit_Card'][index]) > 50:
        num_credit_card += 1
        num_credit_card_list.append(df_num_credit_card['Num_Credit_Card'][index])
print("num_credit_cardCount : ",num_credit_card,"|| Unique num_credit_cardcount :",len(set(num_credit_card_list))," || Example : ",num_credit_card_list[0:5])

num_credit_cardCount :  0 || Unique num_credit_cardcount : 0  || Example :  []

In [99]:
df_num_credit_card.to_csv('checkpoints//5_df_num_credit_card.csv',index = False)

## PreProcessing Interest_Rate

In [100]:
df_interest_rate = pd.read_csv('checkpoints//5_df_num_credit_card.csv')

In [101]:
print('Unique Value Count : ',df_interest_rate["Interest_Rate"].nunique())
print('Null Value Count : ',df_interest_rate["Interest_Rate"].isna().sum())

Unique Value Count :  1750
Null Value Count :  0

### Checking Corresponding Values

In [102]:
corresponding_unique_interest_rate_values = {}
for ssn in unique_SSN:
    corresponding_unique_interest_rate_values[ssn] = list(df_interest_rate[df_interest_rate['SSN'] == ssn]['Interest_Rate'].unique())

In [103]:
dict(itertools.islice(corresponding_unique_interest_rate_values.items(),10))

{821000265: [3],
 4075839: [6],
 486853974: [8],
 72316145: [4],
 615067821: [5],
 612708987: [8, 5318],
 411510676: [8],
 500926408: [15],
 70191622: [7],
 366681681: [12]}

### Checking Noisy Data for Interest_Rate > 100

In [104]:
interest_rate = 0
interest_rate_list = []
for index in range(len(df_interest_rate)):
    if (df_interest_rate['Interest_Rate'][index]) > 100:
        interest_rate +=1
        interest_rate_list.append(df_interest_rate['Interest_Rate'][index])
print("Interest_rate Count : ",interest_rate,"|| Unique interest_rate count :",len(set(interest_rate_list))," || Example : ",interest_rate_list[0:5])

Interest_rate Count :  2012 || Unique interest_rate count : 1697  || Example :  [5318, 433, 5240, 4975, 668]

### Replacing the Noisy Data

In [105]:
for index in range(len(df_interest_rate)):
    if df_interest_rate['Interest_Rate'][index] > 100:
        df_interest_rate['Interest_Rate'][index] = [val for val in corresponding_unique_interest_rate_values[df_interest_rate['SSN'][index]] if val <= 100 ][0]

### Checking.

In [106]:
corresponding_unique_interest_rate_values = {}
for ssn in unique_SSN:
    corresponding_unique_interest_rate_values[ssn] = list(df_interest_rate[df_interest_rate['SSN'] == ssn]['Interest_Rate'].unique())

In [107]:
dict(itertools.islice(corresponding_unique_interest_rate_values.items(),10))

{821000265: [3],
 4075839: [6],
 486853974: [8],
 72316145: [4],
 615067821: [5],
 612708987: [8],
 411510676: [8],
 500926408: [15],
 70191622: [7],
 366681681: [12]}

In [108]:
interest_rate = 0
interest_rate_list = []
for index in range(len(df_interest_rate)):
    if (df_interest_rate['Interest_Rate'][index]) > 100:
        interest_rate +=1
        interest_rate_list.append(df_interest_rate['Interest_Rate'][index])
print("Interest_rate Count : ",interest_rate,"|| Unique interest_rate count :",len(set(interest_rate_list))," || Example : ",interest_rate_list[0:5])

Interest_rate Count :  0 || Unique interest_rate count : 0  || Example :  []

## PreProcessing Num_of_Loan

In [109]:
df_num_of_loan = df_interest_rate.copy()

In [110]:
print('Unique Value Count : ',df_num_of_loan['Num_of_Loan'].nunique())
print('Null Value Count : ',df_num_of_loan['Num_of_Loan'].isna().sum())

Unique Value Count :  434
Null Value Count :  0

### Checking for Noisy Data.

In [111]:
underscore_num_of_loan = 0
underscore_num_of_loan_list = []
noisy_num_of_loan = 0
noisy_num_of_loan_list = []
for index in range(len(df_num_of_loan)):
    if '_' in  df_num_of_loan['Num_of_Loan'][index]:
        underscore_num_of_loan += 1
        underscore_num_of_loan_list.append(df_num_of_loan['Num_of_Loan'][index])
    try:
        if int(df_num_of_loan['Num_of_Loan'][index]) > 100 or int(df_num_of_loan['Num_of_Loan'][index] < 0):
            noisy_num_of_loan +=1
            noisy_num_of_loan_list.append(df_num_of_loan['Num_of_Loan'][index])
            
    except:
        pass
print("underscore_num_of_loan Count : ",underscore_num_of_loan,"|| Unique underscore_num_of_loan count :",len(set(underscore_num_of_loan_list)), " || Example : ",underscore_num_of_loan_list[0:5])
print("noisy_num_of_loan Count : ",noisy_num_of_loan,"|| Unique noisy_num_of_loan count :",len(set(noisy_num_of_loan_list))," || Example : ",noisy_num_of_loan_list[0:5])

underscore_num_of_loan Count :  4785 || Unique underscore_num_of_loan count : 35  || Example :  ['0_', '3_', '3_', '2_', '5_']
noisy_num_of_loan Count :  414 || Unique noisy_num_of_loan count : 362  || Example :  ['967', '1464', '622', '352', '472']

### Ommiting underscores

In [112]:
for index in range(len(df_num_of_loan)):
    if '_' in df_num_of_loan['Num_of_Loan'][index]:
        df_num_of_loan['Num_of_Loan'][index] = df_num_of_loan['Num_of_Loan'][index].replace('_','')

### Replacing Noisy Data.

In [113]:
df_num_of_loan['Num_of_Loan'] = df_num_of_loan['Num_of_Loan'].astype(int)

In [114]:
corresponding_unique_num_of_loan_values= {}
for ssn in unique_SSN:
    corresponding_unique_num_of_loan_values[ssn] = list(df_num_of_loan[df_num_of_loan['SSN'] == ssn]['Num_of_Loan'].unique())

In [115]:
dict(itertools.islice(corresponding_unique_num_of_loan_values.items(),10))

{821000265: [4],
 4075839: [1],
 486853974: [3, 967],
 72316145: [1, -100],
 615067821: [0, -100],
 612708987: [0],
 411510676: [2, -100],
 500926408: [3, -100],
 70191622: [-100, 3],
 366681681: [2, -100]}

In [116]:
for index in range(len(df_num_of_loan)):
    if df_num_of_loan['Num_of_Loan'][index] < 0:
        df_num_of_loan['Num_of_Loan'][index] = [val for val in corresponding_unique_num_of_loan_values[df_num_of_loan['SSN'][index]] if ((val >= 0)) ][0]

In [117]:
corresponding_unique_num_of_loan_values= {}
for ssn in unique_SSN:
    corresponding_unique_num_of_loan_values[ssn] = list(df_num_of_loan[df_num_of_loan['SSN'] == ssn]['Num_of_Loan'].unique())

In [118]:
dict(itertools.islice(corresponding_unique_num_of_loan_values.items(),10))

{821000265: [4],
 4075839: [1],
 486853974: [3, 967],
 72316145: [1],
 615067821: [0],
 612708987: [0],
 411510676: [2],
 500926408: [3],
 70191622: [3],
 366681681: [2]}

##### Positive Noisy data can be handled later.

In [119]:
print('Unique Value Count : ',df_num_of_loan['Num_of_Loan'].nunique())

Unique Value Count :  413

In [121]:
df_num_of_loan.to_csv('checkpoints//6_df_num_of_loan.csv',index = False)

## PreProcessing Type_of_Loan

In [122]:
df_type_of_loan = pd.read_csv('checkpoints//6_df_num_of_loan.csv')

In [123]:
print('Unique Value Count : ',df_type_of_loan['Type_of_Loan'].nunique())
print('Null Value Count : ',df_type_of_loan['Type_of_Loan'].isna().sum())

Unique Value Count :  6260
Null Value Count :  11408

In [124]:
df_type_of_loan['Type_of_Loan'].head()

0    Auto Loan, Credit-Builder Loan, Personal Loan,...
1    Auto Loan, Credit-Builder Loan, Personal Loan,...
2    Auto Loan, Credit-Builder Loan, Personal Loan,...
3    Auto Loan, Credit-Builder Loan, Personal Loan,...
4    Auto Loan, Credit-Builder Loan, Personal Loan,...
Name: Type_of_Loan, dtype: object

### Checking Corresponding Unique Type Of Loans.

In [125]:
corresponding_unique_type_of_loan_values = {}
for ssn in unique_SSN:
    corresponding_unique_type_of_loan_values[ssn] = list(df_type_of_loan[df_type_of_loan['SSN'] == ssn]['Type_of_Loan'].unique())

In [126]:
dict(itertools.islice(corresponding_unique_type_of_loan_values.items(),10))

{821000265: ['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan'],
 4075839: ['Credit-Builder Loan'],
 486853974: ['Auto Loan, Auto Loan, and Not Specified'],
 72316145: ['Not Specified'],
 615067821: [nan],
 612708987: [nan],
 411510676: ['Credit-Builder Loan, and Mortgage Loan'],
 500926408: ['Not Specified, Auto Loan, and Student Loan'],
 70191622: ['Personal Loan, Debt Consolidation Loan, and Auto Loan'],
 366681681: ['Not Specified, and Payday Loan']}

### Replacing nan with 'Not Specified'

In [127]:
df_type_of_loan['Type_of_Loan'].fillna('Not Specified',inplace = True)

In [128]:
corresponding_unique_type_of_loan_values = {}
for ssn in unique_SSN:
    corresponding_unique_type_of_loan_values[ssn] = list(df_type_of_loan[df_type_of_loan['SSN'] == ssn]['Type_of_Loan'].unique())

In [129]:
dict(itertools.islice(corresponding_unique_type_of_loan_values.items(),20))

{821000265: ['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan'],
 4075839: ['Credit-Builder Loan'],
 486853974: ['Auto Loan, Auto Loan, and Not Specified'],
 72316145: ['Not Specified'],
 615067821: ['Not Specified'],
 612708987: ['Not Specified'],
 411510676: ['Credit-Builder Loan, and Mortgage Loan'],
 500926408: ['Not Specified, Auto Loan, and Student Loan'],
 70191622: ['Personal Loan, Debt Consolidation Loan, and Auto Loan'],
 366681681: ['Not Specified, and Payday Loan'],
 221308554: ['Credit-Builder Loan, Personal Loan, and Auto Loan'],
 342902649: ['Payday Loan, and Payday Loan'],
 414532918: ['Not Specified, Student Loan, and Personal Loan'],
 328336328: ['Personal Loan, Payday Loan, Student Loan, Auto Loan, Home Equity Loan, Student Loan, and Payday Loan'],
 655057666: ['Not Specified, Student Loan, Student Loan, Credit-Builder Loan, and Auto Loan'],
 965462491: ['Payday Loan, and Home Equity Loan'],
 891559364: ['Not Specified'],
 928914452: ['Credit-Builder Loan, Not Specified, Mortgage Loan, Payday Loan, Credit-Builder Loan, and Personal Loan'],
 84253745: ['Not Specified'],
 68834394: ['Mortgage Loan, Debt Consolidation Loan, Payday Loan, Auto Loan, and Not Specified']}

### Getting unique types of Loans.

In [130]:
types_of_loan = set()

In [131]:

print(' --- Example of Types of Loans ---')
df_type_of_loan['Type_of_Loan'][0]
df_type_of_loan['Type_of_Loan'][10]
print('-------------------------------------------------------------------')
print(' --- After Splitting ---')
df_type_of_loan['Type_of_Loan'][0].split(',')
df_type_of_loan['Type_of_Loan'][0].split(',')[0].split(' Loan')[0].replace(' ','').replace('and','')
df_type_of_loan['Type_of_Loan'][0].split(',')[1].split(' Loan')[0].replace(' ','').replace('and','')
df_type_of_loan['Type_of_Loan'][0].split(',')[2].split(' Loan')[0].replace(' ','').replace('and','')
df_type_of_loan['Type_of_Loan'][0].split(',')[3].split(' Loan')[0].replace(' ','').replace('and','')
print('--------------------------------------------------------------------')

 --- Example of Types of Loans ---

'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan'

'Credit-Builder Loan'

-------------------------------------------------------------------
 --- After Splitting ---

['Auto Loan',
 ' Credit-Builder Loan',
 ' Personal Loan',
 ' and Home Equity Loan']

'Auto'

'Credit-Builder'

'Personal'

'HomeEquity'

--------------------------------------------------------------------

In [132]:
for values in corresponding_unique_type_of_loan_values.values():
    for i in range(len(values)):
        types_of_loan.add(values[0].split(',')[i].split(' Loan')[0].replace(' ','').replace('and',''))

In [133]:
types_of_loan

{'Auto',
 'Credit-Builder',
 'DebtConsolidation',
 'HomeEquity',
 'Mortgage',
 'NotSpecified',
 'Payday',
 'Personal',
 'Student'}

### Processing Types of Loans

In [134]:
processed_types_of_loan_list = sorted(list(types_of_loan))
processed_types_of_loan_list

['Auto',
 'Credit-Builder',
 'DebtConsolidation',
 'HomeEquity',
 'Mortgage',
 'NotSpecified',
 'Payday',
 'Personal',
 'Student']

In [135]:
dataframe_type_of_loan_list = sorted(['Credit-Builder Loan',
                               'Not Specified',
                               'Debt Consolidation Loan',
                               'Auto Loan',
                               'Student Loan',
                               'Home Equity Loan', 
                               'Mortgage Loan',
                               'Personal Loan',
                               'Payday Loan'])
dataframe_type_of_loan_list

['Auto Loan',
 'Credit-Builder Loan',
 'Debt Consolidation Loan',
 'Home Equity Loan',
 'Mortgage Loan',
 'Not Specified',
 'Payday Loan',
 'Personal Loan',
 'Student Loan']

### Mapping column Type_Of_Loan.

In [136]:
def map_type_of_loan(txt):
    txt = str(txt)
    for i in range(len(processed_types_of_loan_list)):
        txt = txt.replace(dataframe_type_of_loan_list[i],processed_types_of_loan_list[i])
    return txt

In [137]:
txt = 'Credit-Builder Loan,Not Specified,Debt Consolidation Loan,Auto Loan,Student Loan,Home Equity Loan,Mortgage Loan,Personal Loan'
map_type_of_loan(txt)

'Credit-Builder,NotSpecified,DebtConsolidation,Auto,Student,HomeEquity,Mortgage,Personal'

In [138]:
df_type_of_loan['Type_of_Loan'] = df_type_of_loan['Type_of_Loan'].apply(map_type_of_loan)

In [139]:
df_type_of_loan['Type_of_Loan'].head()

0    Auto, Credit-Builder, Personal, and HomeEquity
1    Auto, Credit-Builder, Personal, and HomeEquity
2    Auto, Credit-Builder, Personal, and HomeEquity
3    Auto, Credit-Builder, Personal, and HomeEquity
4    Auto, Credit-Builder, Personal, and HomeEquity
Name: Type_of_Loan, dtype: object

In [142]:
print('Unique Value Count : ',df_type_of_loan['Type_of_Loan'].nunique())
print('Null Value Count : ',df_type_of_loan['Type_of_Loan'].isna().sum())

Unique Value Count :  6260
Null Value Count :  0

##### Following Code is for One-Hot Encoding Type Of Loan. But For now Commenting them.

In [251]:
# index = 0
# for type_of_loan in processed_types_of_loan_list:
#     df_type_of_loan.insert(loc = 11 + index, column = type_of_loan , value = 0)
#     index += 1

In [252]:
# df_type_of_loan.drop(columns = 'NotSpecified',inplace = True)

In [140]:
df_type_of_loan.columns

Index(['Month', 'Age', 'SSN', 'Occupation', 'Annual_Income',
       'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card',
       'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan', 'Delay_from_due_date',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [254]:
# for type_of_loan in processed_types_of_loan_list:    
#     df_type_of_loan[type_of_loan] = df_type_of_loan['Type_of_Loan'].apply(lambda x:1 if type_of_loan in x else 0)

In [143]:
df_type_of_loan.to_csv('checkpoints//7_df_type_of_loan.csv',index = False)

## PreProcessing Delay_from_due_date

In [144]:
df_delay_from_due_date = pd.read_csv('checkpoints//7_df_type_of_loan.csv')

In [145]:
print('Unique Value Count : ',df_delay_from_due_date['Delay_from_due_date'].nunique())
print('Null Value Count : ',df_delay_from_due_date['Delay_from_due_date'].isna().sum())

Unique Value Count :  73
Null Value Count :  0

### Checking Corresponding uniaue delay_from_due_date values.

In [146]:
corresponding_unique_delay_from_due_date_values = {}
for ssn in unique_SSN:
    corresponding_unique_delay_from_due_date_values[ssn] = list(df_delay_from_due_date[df_delay_from_due_date['SSN'] == ssn]['Delay_from_due_date'].unique())

In [147]:
dict(itertools.islice(corresponding_unique_delay_from_due_date_values.items(),10))

{821000265: [3, -1, 5, 6, 8],
 4075839: [3, 7],
 486853974: [5, 13, 8, 10],
 72316145: [0, 5, 3, 7, 4],
 615067821: [5, 9, 1, 10],
 612708987: [12, 8, 11, 7],
 411510676: [0, -1],
 500926408: [30, 31, 34, 27],
 70191622: [13, 14, 11],
 366681681: [4, 2, -2, 1, -1]}

### Checking Data Types.

In [148]:
df_delay_from_due_date['Delay_from_due_date'].dtypes

dtype('int64')

### Checking For Negative Values.

In [149]:
noisy_delay_from_due_date = 0
noisy_delay_from_due_date_list = []
for index in range(len(df_delay_from_due_date)):
    if df_delay_from_due_date['Delay_from_due_date'][index] < 0:
            noisy_delay_from_due_date += 1
            noisy_delay_from_due_date_list.append(df_delay_from_due_date['Delay_from_due_date'][index])
            
print("noisy_delay_from_due_date Count : ",noisy_delay_from_due_date,"|| Unique noisy_delay_from_due_date count : ",len(set(noisy_delay_from_due_date_list))," || Example : ",noisy_delay_from_due_date_list[0:5])

noisy_delay_from_due_date Count :  591 || Unique noisy_delay_from_due_date count :  5  || Example :  [-1, -1, -2, -1, -2]

### Replacing Noisy Data.

In [150]:
for index in range(len(df_delay_from_due_date)):
    if df_delay_from_due_date['Delay_from_due_date'][index] < 0:
        df_delay_from_due_date['Delay_from_due_date'][index] = [val for val in corresponding_unique_delay_from_due_date_values[df_delay_from_due_date['SSN'][index]] if ((val >= 0)) ][0]

### Checking.

In [151]:
corresponding_unique_delay_from_due_date_values = {}
for ssn in unique_SSN:
    corresponding_unique_delay_from_due_date_values[ssn] = list(df_delay_from_due_date[df_delay_from_due_date['SSN'] == ssn]['Delay_from_due_date'].unique())
dict(itertools.islice(corresponding_unique_delay_from_due_date_values.items(),10))

{821000265: [3, 5, 6, 8],
 4075839: [3, 7],
 486853974: [5, 13, 8, 10],
 72316145: [0, 5, 3, 7, 4],
 615067821: [5, 9, 1, 10],
 612708987: [12, 8, 11, 7],
 411510676: [0],
 500926408: [30, 31, 34, 27],
 70191622: [13, 14, 11],
 366681681: [4, 2, 1]}

## PreProcessing Num_of_Delayed_Payment

In [189]:
df_num_of_delayed_payment = df_delay_from_due_date.copy()

In [190]:
print('Unique Value Count : ',df_num_of_delayed_payment["Num_of_Delayed_Payment"].nunique())
print('Null Value Count : ',df_num_of_delayed_payment["Num_of_Delayed_Payment"].isna().sum())

Unique Value Count :  749
Null Value Count :  7002

### Checking Unique Corresponding Delayed_Payment.

In [191]:
corresponding_unique_delayed_payment_values = {}
for ssn in unique_SSN:
    corresponding_unique_delayed_payment_values[ssn] = list(df_num_of_delayed_payment[df_num_of_delayed_payment['SSN'] == ssn]['Num_of_Delayed_Payment'].unique())

In [192]:
dict(itertools.islice(corresponding_unique_delayed_payment_values.items(),10))

{821000265: ['7', nan, '4', '8_', '6'],
 4075839: ['4', '1', '-1', '3_', '0'],
 486853974: ['8', '6', '7', '5'],
 72316145: ['6', '3', '9', nan],
 615067821: [nan, '12', '15', '17'],
 612708987: ['10', '7', '4'],
 411510676: ['3', '2', '4', '3_', '2_'],
 500926408: ['11', '14'],
 70191622: ['11', '8', '14', nan],
 366681681: ['0', '2']}

### Checking for Noisy Data.

In [193]:
underscore_unique_delayed_payment = 0
underscore_unique_delayed_payment_list = []
noisy_unique_delayed_payment = 0
noisy_unique_delayed_payment_list = []
for index in range(len(df_num_of_delayed_payment)):
    try:
        if '_' in  df_num_of_delayed_payment['Num_of_Delayed_Payment'][index]:
            underscore_unique_delayed_payment += 1
            underscore_unique_delayed_payment_list.append(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index])
    except:
        pass
    try:
        if int(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index]) > 120 or int(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index] < 0):
            noisy_unique_delayed_payment +=1
            noisy_unique_delayed_payment_list.append(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index])
            
    except:
        pass
print("underscore_unique_delayed_payment Count : ",underscore_unique_delayed_payment,"|| Unique underscore_unique_delayed_payment count :",len(set(underscore_unique_delayed_payment_list)), " || Example : ",underscore_unique_delayed_payment_list[0:5])
print("Noisy_unique_delayed_payment Count : ",noisy_unique_delayed_payment,"|| Unique Noisy_unique_delayed_payment count :",len(set(noisy_unique_delayed_payment_list))," || Example : ",noisy_unique_delayed_payment_list[0:5])

underscore_unique_delayed_payment Count :  2744 || Unique underscore_unique_delayed_payment count : 51  || Example :  ['8_', '3_', '3_', '2_', '13_']
Noisy_unique_delayed_payment Count :  702 || Unique Noisy_unique_delayed_payment count : 651  || Example :  ['3318', '3083', '1338', '3104', '1106']

### Noisy data maybe dropped later. For now replacing underscore value

In [194]:
for index in range(len(df_num_of_delayed_payment)):
    try:
        if '_' in df_num_of_delayed_payment['Num_of_Delayed_Payment'][index]:
            df_num_of_delayed_payment['Num_of_Delayed_Payment'][index] = df_num_of_delayed_payment['Num_of_Delayed_Payment'][index].replace('_','')
    except:
        pass

### Converting to Float-type.

In [195]:
df_num_of_delayed_payment['Num_of_Delayed_Payment'] = df_num_of_delayed_payment['Num_of_Delayed_Payment'].astype(float)

In [196]:
underscore_unique_delayed_payment = 0
underscore_unique_delayed_payment_list = []
noisy_unique_delayed_payment = 0
noisy_unique_delayed_payment_list = []
for index in range(len(df_num_of_delayed_payment)):
    try:
        if '_' in  df_num_of_delayed_payment['Num_of_Delayed_Payment'][index]:
            underscore_unique_delayed_payment += 1
            underscore_unique_delayed_payment_list.append(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index])
    except:
        pass
    try:
        if int(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index]) > 120 or int(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index] < 0):
            noisy_unique_delayed_payment +=1
            noisy_unique_delayed_payment_list.append(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index])
            
    except:
        pass
print("underscore_unique_delayed_payment Count : ",underscore_unique_delayed_payment,"|| Unique underscore_unique_delayed_payment count :",len(set(underscore_unique_delayed_payment_list)), " || Example : ",underscore_unique_delayed_payment_list[0:5])
print("Noisy_unique_delayed_payment Count : ",noisy_unique_delayed_payment,"|| Unique Noisy_unique_delayed_payment count :",len(set(noisy_unique_delayed_payment_list))," || Example : ",noisy_unique_delayed_payment_list[0:5])

underscore_unique_delayed_payment Count :  0 || Unique underscore_unique_delayed_payment count : 0  || Example :  []
Noisy_unique_delayed_payment Count :  1365 || Unique Noisy_unique_delayed_payment count : 667  || Example :  [-1.0, 3318.0, 3083.0, 1338.0, 3104.0]

### Filling NaN Values.

##### Median of each customer.

In [197]:
corresponding_unique_delayed_payment_values = {}
for ssn in unique_SSN:
    corresponding_unique_delayed_payment_values[ssn] = list(df_num_of_delayed_payment[df_num_of_delayed_payment['SSN'] == ssn]['Num_of_Delayed_Payment'].unique())
    # Removing nan values
    corresponding_unique_delayed_payment_values[ssn] = [val for val in corresponding_unique_delayed_payment_values[ssn]if not(np.isnan(val))]
dict(itertools.islice(corresponding_unique_delayed_payment_values.items(),10))

{821000265: [7.0, 4.0, 8.0, 6.0],
 4075839: [4.0, 1.0, -1.0, 3.0, 0.0],
 486853974: [8.0, 6.0, 7.0, 5.0],
 72316145: [6.0, 3.0, 9.0],
 615067821: [12.0, 15.0, 17.0],
 612708987: [10.0, 7.0, 4.0],
 411510676: [3.0, 2.0, 4.0],
 500926408: [11.0, 14.0],
 70191622: [11.0, 8.0, 14.0],
 366681681: [0.0, 2.0]}

In [198]:
print('--- Values ---')
[val for val in corresponding_unique_delayed_payment_values[821000265]]
print('--- Median ---')
statistics.median([val for val in corresponding_unique_delayed_payment_values[821000265]])
print('-----------------------------------')
print('--- Values ---')
[val for val in corresponding_unique_delayed_payment_values[734547098]]
print('--- Median ---')
statistics.median([val for val in corresponding_unique_delayed_payment_values[734547098]])
print('-----------------------------------')
print('--- Values ---')
[val for val in corresponding_unique_delayed_payment_values[928914452]]
print('--- Median ---')
statistics.median([val for val in corresponding_unique_delayed_payment_values[928914452]])

--- Values ---

[7.0, 4.0, 8.0, 6.0]

--- Median ---

6.5

-----------------------------------
--- Values ---

[8.0, 6.0, 10.0, 3083.0]

--- Median ---

9.0

-----------------------------------
--- Values ---

[12.0]

--- Median ---

12.0

##### Here exists a list : [12,nan,nan] gives 'nan' as median. So replacing 'nan' value of for the list with 'n' count if number of 'nan' is n - 1 in that particular list.

##### Demonstration of Logic.

In [199]:
check_list = [12, np.nan, np.nan]
print('--- List ---')
print(check_list)
print('---------------------------')
length_of_list = len(check_list)
nan_count = np.isnan(check_list).sum()
print('Length of List : ',length_of_list)
print('"nan" value count : ',nan_count)
print('---------------------------')
print('--- Update List ---')
if nan_count == length_of_list - 1:
    check_list = [val for val in check_list if not(np.isnan(val))]
print(check_list)

--- List ---
[12, nan, nan]
---------------------------
Length of List :  3
"nan" value count :  2
---------------------------
--- Update List ---
[12]

In [200]:
for index in range(len(df_num_of_delayed_payment)):
    if np.isnan(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index]):
        df_num_of_delayed_payment['Num_of_Delayed_Payment'][index] = int(statistics.median([val for val in corresponding_unique_delayed_payment_values[df_num_of_delayed_payment['SSN'][index]]]))

In [201]:
corresponding_unique_delayed_payment_values = {}
for ssn in unique_SSN:
    corresponding_unique_delayed_payment_values[ssn] = list(df_num_of_delayed_payment[df_num_of_delayed_payment['SSN'] == ssn]['Num_of_Delayed_Payment'].unique())
dict(itertools.islice(corresponding_unique_delayed_payment_values.items(),10))

{821000265: [7.0, 6.0, 4.0, 8.0],
 4075839: [4.0, 1.0, -1.0, 3.0, 0.0],
 486853974: [8.0, 6.0, 7.0, 5.0],
 72316145: [6.0, 3.0, 9.0],
 615067821: [15.0, 12.0, 17.0],
 612708987: [10.0, 7.0, 4.0],
 411510676: [3.0, 2.0, 4.0],
 500926408: [11.0, 14.0],
 70191622: [11.0, 8.0, 14.0],
 366681681: [0.0, 2.0]}

In [202]:
print('Null Value Count : ', df_num_of_delayed_payment['Num_of_Delayed_Payment'].isna().sum())

Null Value Count :  0

### Remove Negative numbers.

In [203]:
negative_unique_delayed_payment = 0
negative_unique_delayed_payment_list = []
for index in range(len(df_num_of_delayed_payment)):
    try:
        if '_' in  df_num_of_delayed_payment['Num_of_Delayed_Payment'][index]:
            underscore_unique_delayed_payment += 1
            underscore_unique_delayed_payment_list.append(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index])
    except:
        pass
    try:
        if int(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index] < 0):
            negative_unique_delayed_payment +=1
            negative_unique_delayed_payment_list.append(df_num_of_delayed_payment['Num_of_Delayed_Payment'][index])
            
    except:
        pass

print("negative_unique_delayed_payment Count : ",negative_unique_delayed_payment,"|| Unique negative_unique_delayed_payment count :",len(set(negative_unique_delayed_payment_list))," || Example : ",negative_unique_delayed_payment_list[0:5])

negative_unique_delayed_payment Count :  678 || Unique negative_unique_delayed_payment count : 3  || Example :  [-1.0, -1.0, -3.0, -2.0, -1.0]

In [204]:
df_num_of_delayed_payment['Num_of_Delayed_Payment'] = abs(df_num_of_delayed_payment['Num_of_Delayed_Payment'])

## PreProcessing Changed_Credit_Limit

In [185]:
df_changed_credit_limit = df_num_of_delayed_payment.copy()

In [186]:
print('Unique Value Count : ',df_changed_credit_limit['Changed_Credit_Limit'].nunique())
print('Null Value Count : ',df_changed_credit_limit['Changed_Credit_Limit'].isna().sum())

Unique Value Count :  4384
Null Value Count :  0

### Checking corresponding_unique_changed_credit_limit_values.

In [205]:
corresponding_unique_changed_credit_limit_values = {}
for ssn in unique_SSN:
    corresponding_unique_changed_credit_limit_values[ssn] = list(df_changed_credit_limit[df_changed_credit_limit['SSN'] == ssn]['Changed_Credit_Limit'].unique())

In [206]:
dict(itertools.islice(corresponding_unique_changed_credit_limit_values.items(),10))

{821000265: ['11.27', '_', '6.27', '9.27'],
 4075839: ['5.42', '7.42', '6.42'],
 486853974: ['7.1', '11.1', '9.1'],
 72316145: ['1.99', '-2.01', '-1.01', '-3.01'],
 615067821: ['2.58'],
 612708987: ['10.14', '9.14'],
 411510676: ['9.34', '15.34', '8.34', '11.34'],
 500926408: ['17.13', '21.13', '18.13'],
 70191622: ['8.24', '_', '11.24'],
 366681681: ['5.76', '-1.2400000000000002', '1.7599999999999998']}

### Checking Noisy Data.

In [207]:
underscore_changed_credit_limit = 0
underscore_changed_credit_limit_list = []

for index in range(len(df_changed_credit_limit)):
    if '_' in  df_changed_credit_limit['Changed_Credit_Limit'][index]:
        underscore_changed_credit_limit += 1
        underscore_changed_credit_limit_list.append(df_changed_credit_limit['Changed_Credit_Limit'][index])
print("underscore_changed_credit_limit Count : ",underscore_changed_credit_limit,"|| Unique underscore_changed_credit_limit count :",len(set(underscore_changed_credit_limit_list)), " || Example : ",underscore_changed_credit_limit_list[0:5])

underscore_changed_credit_limit Count :  2091 || Unique underscore_changed_credit_limit count : 1  || Example :  ['_', '_', '_', '_', '_']

In [208]:
for index in range(len(df_changed_credit_limit)):
    if '_' in df_changed_credit_limit['Changed_Credit_Limit'][index]:
        df_changed_credit_limit['Changed_Credit_Limit'][index] = df_changed_credit_limit['Changed_Credit_Limit'][index].replace('_',[val for val in corresponding_unique_changed_credit_limit_values[df_changed_credit_limit['SSN'][index]] if val != '_'][0])

In [209]:
df_changed_credit_limit['Changed_Credit_Limit'] = df_changed_credit_limit['Changed_Credit_Limit'].astype(float)

In [255]:
print('Null Value Count : ',df_changed_credit_limit['Changed_Credit_Limit'].isna().sum())

Null Value Count :  0

In [210]:
underscore_changed_credit_limit = 0
underscore_changed_credit_limit_list = []
noisy_changed_credit_limit = 0
noisy_changed_credit_limit_list = []
for index in range(len(df_changed_credit_limit)):
    if float(df_changed_credit_limit['Changed_Credit_Limit'][index]) > 120 or int(df_changed_credit_limit['Changed_Credit_Limit'][index] <= 0):
        noisy_changed_credit_limit +=1
        noisy_changed_credit_limit_list.append(df_changed_credit_limit['Changed_Credit_Limit'][index])

print("underscore_changed_credit_limit Count : ",underscore_changed_credit_limit,"|| Unique underscore_changed_credit_limit count :",len(set(underscore_changed_credit_limit_list)), " || Example : ",underscore_changed_credit_limit_list[0:5])
print("noisy_changed_credit_limit Count : ",noisy_changed_credit_limit,"|| Unique noisy_changed_credit_limit count :",len(set(noisy_changed_credit_limit_list))," || Example : ",noisy_changed_credit_limit_list[0:5])

underscore_changed_credit_limit Count :  0 || Unique underscore_changed_credit_limit count : 0  || Example :  []
noisy_changed_credit_limit Count :  1616 || Unique noisy_changed_credit_limit count : 661  || Example :  [-2.01, -1.01, -3.01, -1.2400000000000002, -4.14]

Also seems random so leaving as it is for now

## PreProcessing Num_Credit_Inquiries

In [211]:
df_num_credit_inquires = df_changed_credit_limit.copy()

In [212]:
print('Unique Value Count : ',df_num_credit_inquires['Num_Credit_Inquiries'].nunique())
print('Null Value Count : ',df_num_credit_inquires['Num_Credit_Inquiries'].isna().sum())

Unique Value Count :  1223
Null Value Count :  1965

### Checking corresponding number credit inquires values.

In [213]:
corresponding_unique_num_credit_inquires_values = {}
for ssn in unique_SSN:
    corresponding_unique_num_credit_inquires_values[ssn] = list(df_num_credit_inquires[df_num_credit_inquires['SSN'] == ssn]['Num_Credit_Inquiries'].unique())
    corresponding_unique_num_credit_inquires_values[ssn] = [val for val in corresponding_unique_num_credit_inquires_values[ssn]if not(np.isnan(val))]

In [214]:
dict(itertools.islice(corresponding_unique_num_credit_inquires_values.items(),20))

{821000265: [4.0],
 4075839: [2.0],
 486853974: [3.0],
 72316145: [4.0],
 615067821: [4.0],
 612708987: [2.0],
 411510676: [2.0, 4.0],
 500926408: [5.0, 9.0],
 70191622: [3.0, 8.0],
 366681681: [2.0, 5.0],
 221308554: [4.0, 8.0],
 342902649: [3.0],
 414532918: [3.0, 7.0],
 328336328: [6.0, 9.0],
 655057666: [5.0],
 965462491: [0.0, 1.0],
 891559364: [0.0, 4.0],
 928914452: [8.0, 10.0],
 84253745: [1.0],
 68834394: [7.0, 8.0]}

### Checking Noisy Data.

In [215]:
underscore_num_credit_inquires = 0
underscore_num_credit_inquires_list = []
noisy_num_credit_inquires = 0
noisy_num_credit_inquires_list = []
for index in range(len(df_num_credit_inquires)):
    try:
        if '_' in  df_num_credit_inquires['Num_Credit_Inquiries'][index]:
            underscore_num_credit_inquires += 1
            underscore_num_credit_inquires_list.append(df_num_credit_inquires['Num_Credit_Inquiries'][index])
    except:
        pass
    try:
        if int(df_num_credit_inquires['Num_Credit_Inquiries'][index]) > 120 or int(df_num_credit_inquires['Num_Credit_Inquiries'][index] < 0):
            noisy_num_credit_inquires +=1
            noisy_num_credit_inquires_list.append(df_num_credit_inquires['Num_Credit_Inquiries'][index])
            
    except:
        pass
print("underscore_num_credit_inquires Count : ",underscore_num_credit_inquires,"|| Unique underscore_num_credit_inquires count :",len(set(underscore_num_credit_inquires_list)), " || Example : ",underscore_num_credit_inquires_list[0:5])
print("noisy_num_credit_inquires Count : ",noisy_num_credit_inquires,"|| Unique noisy_num_credit_inquires count :",len(set(noisy_num_credit_inquires_list))," || Example : ",noisy_num_credit_inquires_list[0:5])

underscore_num_credit_inquires Count :  0 || Unique underscore_num_credit_inquires count : 0  || Example :  []
noisy_num_credit_inquires Count :  1590 || Unique noisy_num_credit_inquires count : 1163  || Example :  [1050.0, 1044.0, 1936.0, 568.0, 1618.0]

### Fillin nan Values.

In [216]:
for index in range(len(df_num_credit_inquires)):
    if np.isnan(df_num_credit_inquires['Num_Credit_Inquiries'][index]):
        df_num_credit_inquires['Num_Credit_Inquiries'][index] = int(statistics.median([val for val in corresponding_unique_num_credit_inquires_values[df_num_credit_inquires['SSN'][index]]]))

In [217]:
print('Unique Value Count : ',df_num_credit_inquires['Num_Credit_Inquiries'].nunique())
print('Null Value Count : ',df_num_credit_inquires['Num_Credit_Inquiries'].isna().sum())

Unique Value Count :  1277
Null Value Count :  0

In [218]:
df_num_credit_inquires.to_csv('checkpoints//8_df_credit_inquires.csv',index = False)

### PreProcessing Credit_Mix

In [219]:
df_credit_mix = pd.read_csv('checkpoints//8_df_credit_inquires.csv')

In [220]:
print('Unique Value Count :',df_credit_mix['Credit_Mix'].nunique())
print('Unique Value Count :',df_credit_mix['Credit_Mix'].isna().sum())

Unique Value Count : 4
Unique Value Count : 0

### List unique Values.

In [221]:
df_credit_mix['Credit_Mix'].value_counts()

Standard    36479
Good        24337
_           20195
Bad         18989
Name: Credit_Mix, dtype: int64

### Checking corresponding Unique_Credit_Mix_Values.

In [222]:
corresponding_unique_credit_mix_values = {}
for ssn in unique_SSN:
    corresponding_unique_credit_mix_values[ssn] = list(df_credit_mix[df_credit_mix['SSN'] == ssn]['Credit_Mix'].unique())

In [223]:
dict(itertools.islice(corresponding_unique_credit_mix_values.items(),10))

{821000265: ['_', 'Good'],
 4075839: ['Good', '_'],
 486853974: ['Good', '_'],
 72316145: ['Good', '_'],
 615067821: ['Standard', '_'],
 612708987: ['Good', '_'],
 411510676: ['Good'],
 500926408: ['Standard', '_'],
 70191622: ['Good', '_'],
 366681681: ['Good', '_']}

In [224]:
for index in range(len(df_credit_mix)):
    if '_' in df_credit_mix['Credit_Mix'][index]:
        df_credit_mix['Credit_Mix'][index] = [val for val in corresponding_unique_credit_mix_values[df_credit_mix['SSN'][index]] if not '_' in val][0]

In [225]:
corresponding_unique_credit_mix_values = {}
for ssn in unique_SSN:
    corresponding_unique_credit_mix_values[ssn] = list(df_credit_mix[df_credit_mix['SSN'] == ssn]['Credit_Mix'].unique())
dict(itertools.islice(corresponding_unique_credit_mix_values.items(),10))

{821000265: ['Good'],
 4075839: ['Good'],
 486853974: ['Good'],
 72316145: ['Good'],
 615067821: ['Standard'],
 612708987: ['Good'],
 411510676: ['Good'],
 500926408: ['Standard'],
 70191622: ['Good'],
 366681681: ['Good']}

### Checking.

In [226]:
df_credit_mix['Credit_Mix'].value_counts()

Standard    45848
Good        30384
Bad         23768
Name: Credit_Mix, dtype: int64

## PreProcessing Outstanding_Debt

In [227]:
df_outstanding_debt = df_credit_mix.copy()

In [228]:
print('Unique Value Count : ',df_outstanding_debt['Outstanding_Debt'].nunique())
print('Null Value Count : ',df_outstanding_debt['Outstanding_Debt'].isna().sum())

Unique Value Count :  13178
Null Value Count :  0

### Check corresponding Unique_Outstanding_Debt_Values.

In [229]:
corresponding_unique_outstanding_debt_values = {}
for ssn in unique_SSN:
    corresponding_unique_outstanding_debt_values[ssn] = list(df_outstanding_debt[df_outstanding_debt['SSN'] == ssn]['Outstanding_Debt'].unique())

In [230]:
dict(itertools.islice(corresponding_unique_outstanding_debt_values.items(),15))

{821000265: ['809.98'],
 4075839: ['605.03'],
 486853974: ['1303.01'],
 72316145: ['632.46'],
 615067821: ['943.86'],
 612708987: ['548.2'],
 411510676: ['352.16'],
 500926408: ['1704.18'],
 70191622: ['1377.74'],
 366681681: ['421.43'],
 221308554: ['1328.93', '1328.93_'],
 342902649: ['950.36'],
 414532918: ['179.22'],
 328336328: ['2602.69'],
 655057666: ['758.44']}

### Replacing the underscore value

In [231]:
underscore_outstanding_debt = 0
underscore_outstanding_debt_list = []
for index in range(len(df_outstanding_debt)):
    if '_' in  df_outstanding_debt['Outstanding_Debt'][index]:
        underscore_outstanding_debt += 1
        underscore_outstanding_debt_list.append(df_outstanding_debt['Outstanding_Debt'][index])
print("underscore_outstanding_debt Count : ",underscore_outstanding_debt,"|| Unique underscore_outstanding_debt count :",len(set(underscore_outstanding_debt_list)), " || Example : ",underscore_outstanding_debt_list[0:5])

underscore_outstanding_debt Count :  1009 || Unique underscore_outstanding_debt count : 975  || Example :  ['1328.93_', '1283.37_', '2797.17_', '3818.57_', '343.84_']

In [232]:
for index in range(len(df_outstanding_debt)):
    if '_' in df_outstanding_debt['Outstanding_Debt'][index]:
        df_outstanding_debt['Outstanding_Debt'][index] = [val for val in corresponding_unique_outstanding_debt_values[df_outstanding_debt['SSN'][index]] if not '_' in val][0]

In [233]:
df_outstanding_debt['Outstanding_Debt'] = df_outstanding_debt['Outstanding_Debt'].astype(float)

In [234]:
corresponding_unique_outstanding_debt_values = {}
for ssn in unique_SSN:
    corresponding_unique_outstanding_debt_values[ssn] = list(df_outstanding_debt[df_outstanding_debt['SSN'] == ssn]['Outstanding_Debt'].unique())
dict(itertools.islice(corresponding_unique_outstanding_debt_values.items(),10))

{821000265: [809.98],
 4075839: [605.03],
 486853974: [1303.01],
 72316145: [632.46],
 615067821: [943.86],
 612708987: [548.2],
 411510676: [352.16],
 500926408: [1704.18],
 70191622: [1377.74],
 366681681: [421.43]}

##### All customer seems to have same outstanding debt.

## PreProcessing Credit_Utilization_Ratio

In [235]:
df_credit_utilization_ratio = df_outstanding_debt.copy()

In [236]:
print('Unique Value Count : ',df_credit_utilization_ratio["Credit_Utilization_Ratio"].nunique())
print('Null Value Count : ',df_credit_utilization_ratio["Credit_Utilization_Ratio"].isna().sum())

Unique Value Count :  100000
Null Value Count :  0

### Checking Corresponding Unique_Credit_Utilization_Ratio_Values.

In [237]:
corresponding_unique_credit_utilization_ratio_values = {}
for ssn in unique_SSN:
    corresponding_unique_credit_utilization_ratio_values[ssn] = list(df_credit_utilization_ratio[df_credit_utilization_ratio['SSN'] == ssn]['Credit_Utilization_Ratio'].unique())

In [238]:
dict(itertools.islice(corresponding_unique_credit_utilization_ratio_values.items(),3))

{821000265: [26.822619623699016,
  31.94496005538421,
  28.60935202206993,
  31.37786186958236,
  24.797346908844982,
  27.26225871052017,
  22.53759303178384,
  23.93379480196552],
 4075839: [24.46403063758457,
  38.550848433956325,
  33.22495078663659,
  39.18265565546884,
  34.97789474709241,
  33.38101020065065,
  31.131701611553307,
  32.933856293622235],
 486853974: [28.616734823006844,
  41.70257342393906,
  26.51981539154649,
  39.50164810812735,
  31.37614957421204,
  39.78399345802119,
  38.068623627698585,
  38.37475294778511]}

##### Each customer has different credit_utilization_ratio.

In [239]:
df_credit_utilization_ratio.to_csv('checkpoints//9_df_credit_utilization_ratio.csv', index = False)

## PreProcessing Credit_History_Age

In [240]:
df_credit_history_age = pd.read_csv('checkpoints//9_df_credit_utilization_ratio.csv')

In [241]:
print('Unique Value Count : ',df_credit_history_age['Credit_History_Age'].nunique())
print('Null Value Count : ',df_credit_history_age['Credit_History_Age'].isna().sum())

Unique Value Count :  404
Null Value Count :  9030

In [242]:
df_credit_history_age[0:10]

,Month,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,Good,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,February,23,821000265,Scientist,19114.12,10855.995546,3,4,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,March,23,821000265,Scientist,19114.12,10855.995546,3,4,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,April,23,821000265,Scientist,19114.12,10855.995546,3,4,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,May,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,June,23,821000265,Scientist,19114.12,10855.995546,3,4,3,4,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
6,July,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,August,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
8,January,28,4075839,Teacher,34847.84,3037.986667,2,4,6,1,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,February,28,4075839,Teacher,34847.84,3037.986667,2,4,6,1,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good

##### Each row seems to be increased by 1 month.

In [243]:
df_credit_history_age['Credit_History_Age'].fillna('nan',inplace = True)

In [244]:
print('--- Year and Month ---')
check = '22 Years and 1 Months'
check
print('--- After Slicing ---')
int(check.split(' ')[0])
int(check.split(' ')[3])

--- Year and Month ---

'22 Years and 1 Months'

--- After Slicing ---

22

1

### Replacing the nan values by comparing previous and upcoming month and years.

In [245]:
for index in range(1,len(df_credit_history_age)):
    if df_credit_history_age['Credit_History_Age'][index] == 'nan':
        if df_credit_history_age['SSN'][index] == df_credit_history_age['SSN'][index - 1] and df_credit_history_age['Credit_History_Age'][index - 1] != 'nan':
            previous_year = int(df_credit_history_age['Credit_History_Age'][index - 1].split(' ')[0])
            previous_month = int(df_credit_history_age['Credit_History_Age'][index - 1].split(' ')[3])
            
            if previous_month == 11:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year + 1} Years and 0 Months'
            else:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year} Years and {previous_month + 1} Months'
        
        
        elif df_credit_history_age['SSN'][index] == df_credit_history_age['SSN'][index + 1] and df_credit_history_age['Credit_History_Age'][index + 1] != 'nan':
            upcoming_year = int(df_credit_history_age['Credit_History_Age'][index + 1].split(' ')[0])
            upcoming_month = int(df_credit_history_age['Credit_History_Age'][index + 1].split(' ')[3])
            
            if upcoming_month == 0:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year - 1} Years and 11 Months'
            else:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year} Years and {upcoming_month - 1} Months'
        
        elif df_credit_history_age['SSN'][index] == df_credit_history_age['SSN'][index + 2] and df_credit_history_age['Credit_History_Age'][index + 2] != 'nan':
            upcoming_year = int(df_credit_history_age['Credit_History_Age'][index + 2].split(' ')[0])
            upcoming_month = int(df_credit_history_age['Credit_History_Age'][index + 2].split(' ')[3])
            
            if upcoming_month == 1:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year - 1} Years and 11 Months'
            elif upcoming_month == 0:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year - 1} Years and 10 Months'
            else:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year} Years and {upcoming_month - 2} Months'
        
        elif df_credit_history_age['SSN'][index] == df_credit_history_age['SSN'][index - 2] and df_credit_history_age['Credit_History_Age'][index - 2] != 'nan':
            previous_year = int(df_credit_history_age['Credit_History_Age'][index - 2].split(' ')[0])
            previous_month = int(df_credit_history_age['Credit_History_Age'][index - 2].split(' ')[3])
            
            if previous_month == 10:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year + 1} Years and 0 Months'
            elif previous_month == 11:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year + 1} Years and 1 Months'
            else:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year} Years and {previous_month + 2} Months'
        
        elif df_credit_history_age['SSN'][index] == df_credit_history_age['SSN'][index + 3] and df_credit_history_age['Credit_History_Age'][index + 3] != 'nan':
            upcoming_year = int(df_credit_history_age['Credit_History_Age'][index + 3].split(' ')[0])
            upcoming_month = int(df_credit_history_age['Credit_History_Age'][index + 3].split(' ')[3])
            
            if upcoming_month == 2:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year - 1} Years and 11 Months'
            elif upcoming_month == 1:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year - 1} Years and 10 Months'
            elif upcoming_month == 0:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year - 1} Years and 9 Months'
            else:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year} Years and {upcoming_month - 3} Months'
        
        elif df_credit_history_age['SSN'][index] == df_credit_history_age['SSN'][index - 3] and df_credit_history_age['Credit_History_Age'][index - 3] != 'nan':
            previous_year = int(df_credit_history_age['Credit_History_Age'][index - 3].split(' ')[0])
            previous_month = int(df_credit_history_age['Credit_History_Age'][index - 3].split(' ')[3])
            
            if previous_month == 9:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year + 1} Years and 0 Months'
            elif previous_month == 10:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year + 1} Years and 1 Months'
            elif previous_month == 11:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year + 1} Years and 2 Months'
            else:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year} Years and {previous_month + 3} Months'
        
        elif df_credit_history_age['SSN'][index] == df_credit_history_age['SSN'][index + 4] and df_credit_history_age['Credit_History_Age'][index + 4] != 'nan':
            upcoming_year = int(df_credit_history_age['Credit_History_Age'][index + 4].split(' ')[0])
            upcoming_month = int(df_credit_history_age['Credit_History_Age'][index + 4].split(' ')[3])
            
            if upcoming_month == 3:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year - 1} Years and 11 Months'
            elif upcoming_month == 2:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year - 1} Years and 10 Months'
            elif upcoming_month == 1:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year - 1} Years and 9 Months'
            elif upcoming_month == 0:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year - 1} Years and 8 Months'
            else:
                df_credit_history_age['Credit_History_Age'][index] = f'{upcoming_year} Years and {upcoming_month - 4} Months'
        
        elif df_credit_history_age['SSN'][index] == df_credit_history_age['SSN'][index - 4] and df_credit_history_age['Credit_History_Age'][index - 4] != 'nan':
            previous_year = int(df_credit_history_age['Credit_History_Age'][index - 4].split(' ')[0])
            previous_month = int(df_credit_history_age['Credit_History_Age'][index - 4].split(' ')[3])
            
            if previous_month == 8:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year + 1} Years and 0 Months'
            elif previous_month == 9:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year + 1} Years and 1 Months'
            elif previous_month == 10:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year + 1} Years and 2 Months'
            elif previous_month == 11:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year + 1} Years and 3 Months'
            else:
                df_credit_history_age['Credit_History_Age'][index] = f'{previous_year} Years and {previous_month + 4} Months'

### Checking.

In [246]:
df_credit_history_age['Credit_History_Age'].value_counts()

15 Years and 10 Months    490
19 Years and 5 Months     486
19 Years and 4 Months     484
17 Years and 11 Months    483
17 Years and 9 Months     481
                         ...
0 Years and 3 Months       22
33 Years and 7 Months      15
0 Years and 2 Months       15
33 Years and 8 Months      15
0 Years and 1 Months        2
Name: Credit_History_Age, Length: 404, dtype: int64

### Convert Years and Months to Months.

In [247]:
def makeMonths(history_age):
    year = int(history_age.split(' ')[0])
    month = int(history_age.split(' ')[3])
    
    return (year * 12) + month

In [248]:
df_credit_history_age['Credit_History_Age'] = df_credit_history_age['Credit_History_Age'].apply(makeMonths)

In [249]:
df_credit_history_age.head()

,Month,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,Good,809.98,26.822620,265,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,February,23,821000265,Scientist,19114.12,10855.995546,3,4,3,4,...,Good,809.98,31.944960,266,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,March,23,821000265,Scientist,19114.12,10855.995546,3,4,3,4,...,Good,809.98,28.609352,267,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,April,23,821000265,Scientist,19114.12,10855.995546,3,4,3,4,...,Good,809.98,31.377862,268,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,May,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,Good,809.98,24.797347,269,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [250]:
df_credit_history_age.to_csv('checkpoints//10_df_credit_history_age.csv',index = False)

### PreProcessing Payment_of_Min_Amount

In [251]:
df_payment_of_min_amount = pd.read_csv('checkpoints//10_df_credit_history_age.csv')

In [252]:
print('Unique Value Count : ',df_payment_of_min_amount['Payment_of_Min_Amount'].nunique())
print('Null Value Count : ',df_payment_of_min_amount['Payment_of_Min_Amount'].isna().sum())

Unique Value Count :  3
Null Value Count :  0

### Checking Unique Values.

In [253]:
df_payment_of_min_amount['Payment_of_Min_Amount'].value_counts()

Yes    52326
No     35667
NM     12007
Name: Payment_of_Min_Amount, dtype: int64

### Checking Corresponding Payment_of_Min_Values.

In [254]:
corresponding_payment_of_min_values = {}
for ssn in unique_SSN:
    corresponding_payment_of_min_values[ssn] = list(df_payment_of_min_amount[df_payment_of_min_amount['SSN'] == ssn]['Payment_of_Min_Amount'].unique())

In [255]:
dict(itertools.islice(corresponding_payment_of_min_values.items(),10))

{821000265: ['No'],
 4075839: ['No', 'NM'],
 486853974: ['No'],
 72316145: ['No', 'NM'],
 615067821: ['Yes', 'NM'],
 612708987: ['No', 'NM'],
 411510676: ['NM', 'No'],
 500926408: ['NM', 'Yes'],
 70191622: ['No', 'NM'],
 366681681: ['NM', 'No']}

### Replacing NM with corresponding value.

In [256]:
for index in range(len(df_payment_of_min_amount)):
    if df_payment_of_min_amount['Payment_of_Min_Amount'][index] == 'NM':
        df_payment_of_min_amount['Payment_of_Min_Amount'][index] = [val for val in corresponding_payment_of_min_values[df_payment_of_min_amount['SSN'][index]] if val != 'NM' ][0]

In [257]:
corresponding_payment_of_min_values = {}
for ssn in unique_SSN:
    corresponding_payment_of_min_values[ssn] = list(df_payment_of_min_amount[df_payment_of_min_amount['SSN'] == ssn]['Payment_of_Min_Amount'].unique())

In [258]:
dict(itertools.islice(corresponding_payment_of_min_values.items(),10))

{821000265: ['No'],
 4075839: ['No'],
 486853974: ['No'],
 72316145: ['No'],
 615067821: ['Yes'],
 612708987: ['No'],
 411510676: ['No'],
 500926408: ['Yes'],
 70191622: ['No'],
 366681681: ['No']}

In [259]:
df_payment_of_min_amount['Payment_of_Min_Amount'].value_counts()

Yes    59432
No     40568
Name: Payment_of_Min_Amount, dtype: int64

## PreProcessing Total_EMI_per_month

In [260]:
df_total_emi_per_month = df_payment_of_min_amount.copy()

In [261]:
print('Unique Value Count : ',df_total_emi_per_month['Total_EMI_per_month'].nunique())
print('Null Value Count : ',df_total_emi_per_month['Total_EMI_per_month'].isna().sum())

Unique Value Count :  14950
Null Value Count :  0

### Checking Unique_Total_EMI_per_Month_Values.

In [262]:
corresponding_unique_total_emi_per_month_values = {}
for ssn in unique_SSN:
    corresponding_unique_total_emi_per_month_values[ssn] = list(df_total_emi_per_month[df_total_emi_per_month['SSN'] == ssn]['Total_EMI_per_month'].unique())

In [263]:
dict(itertools.islice(corresponding_unique_total_emi_per_month_values.items(),10))

{821000265: [49.57494921489417],
 4075839: [18.816214573128885],
 486853974: [246.9923194537421],
 72316145: [16.415451659824875],
 615067821: [0.0],
 612708987: [15015.0, 0.0, 15515.0],
 411510676: [137.6446054014217, 911.2201793459374, 23834.0, 32662.0],
 500926408: [70.47833267207261],
 70191622: [226.8927919215432],
 366681681: [46.61612907334207, 16415.0]}

In [264]:
underscore_total_emi_per_month = 0
underscore_total_emi_per_month_list = []

for index in range(len(df_total_emi_per_month)):
    try:
        if '_' in  df_total_emi_per_month['Total_EMI_per_month'][index]:
            underscore_total_emi_per_month += 1
            underscore_total_emi_per_month_list.append(df_total_emi_per_month['Total_EMI_per_month'][index])
    except:
        pass
print("underscore_total_emi_per_month Count : ",underscore_total_emi_per_month,"|| Unique underscore_total_emi_per_month count :",len(set(underscore_total_emi_per_month_list)), " || Example : ",underscore_total_emi_per_month_list[0:5])

underscore_total_emi_per_month Count :  0 || Unique underscore_total_emi_per_month count : 0  || Example :  []

##### Seems there are no inconsistent total_emi_per_month.

## PreProcessing Amount_invested_monthly

In [265]:
df_amount_invested_monthly = df_total_emi_per_month.copy()

In [266]:
print('Unique Value Count : ',df_amount_invested_monthly['Amount_invested_monthly'].nunique())
print('Null Value Count : ',df_amount_invested_monthly['Amount_invested_monthly'].isna().sum())

Unique Value Count :  91049
Null Value Count :  4479

### Checking for Noisy Data.

In [267]:
underscore_amount_invested_monthly = 0
underscore_amount_invested_monthly_list = []

for index in range(len(df_amount_invested_monthly)):
    try:
        if '_' in  df_amount_invested_monthly['Amount_invested_monthly'][index]:
            underscore_amount_invested_monthly += 1
            underscore_amount_invested_monthly_list.append(df_amount_invested_monthly['Amount_invested_monthly'][index])
    except:
        pass
print("underscore_amount_invested_monthly Count : ",underscore_amount_invested_monthly,"|| Unique underscore_amount_invested_monthly count :",len(set(underscore_amount_invested_monthly_list)), " || Example : ",underscore_amount_invested_monthly_list[0:5])

underscore_amount_invested_monthly Count :  4305 || Unique underscore_amount_invested_monthly count : 1  || Example :  ['__10000__', '__10000__', '__10000__', '__10000__', '__10000__']

In [268]:
corresponding_unique_amount_invested_monthly_values = {}
for ssn in unique_SSN:
    corresponding_unique_amount_invested_monthly_values[ssn] = list(df_amount_invested_monthly[df_amount_invested_monthly['SSN'] == ssn]['Amount_invested_monthly'].unique())
dict(itertools.islice(corresponding_unique_amount_invested_monthly_values.items(),3))

{821000265: ['80.41529543900253',
  '118.28022162236736',
  '81.699521264648',
  '199.4580743910713',
  '41.420153086217326',
  '62.430172331195294',
  '178.3440674122349',
  '24.785216509052056'],
 4075839: ['104.291825168246',
  '40.39123782853101',
  '58.51597569589465',
  '99.30622796053305',
  '130.11542024292334',
  '43.477190144355745',
  '70.10177420755677',
  '218.90434353388733'],
 486853974: ['168.413702679309',
  '232.86038375993544',
  '__10000__',
  '825.2162699393922',
  '430.9475278803298',
  '257.80809942568976',
  '263.17416316163934']}

### Removing UnderScore Values.

In [269]:
for index in range(len(df_amount_invested_monthly)):
    try:
        if '_' in df_amount_invested_monthly['Amount_invested_monthly'][index]:
            df_amount_invested_monthly['Amount_invested_monthly'][index] = df_amount_invested_monthly['Amount_invested_monthly'][index].replace('_','')
    except:
        pass

In [270]:
df_amount_invested_monthly['Amount_invested_monthly'] = df_amount_invested_monthly['Amount_invested_monthly'].astype(float)

In [271]:
corresponding_unique_amount_invested_monthly_values = {}
for ssn in unique_SSN:
    corresponding_unique_amount_invested_monthly_values[ssn] = list(df_amount_invested_monthly[df_amount_invested_monthly['SSN'] == ssn]['Amount_invested_monthly'].unique())

In [272]:
dict(itertools.islice(corresponding_unique_amount_invested_monthly_values.items(),3))

{821000265: [80.41529543900253,
  118.28022162236736,
  81.699521264648,
  199.4580743910713,
  41.420153086217326,
  62.430172331195294,
  178.3440674122349,
  24.785216509052056],
 4075839: [104.291825168246,
  40.39123782853101,
  58.51597569589465,
  99.30622796053305,
  130.11542024292334,
  43.477190144355745,
  70.10177420755677,
  218.90434353388733],
 486853974: [168.413702679309,
  232.86038375993544,
  10000.0,
  825.2162699393922,
  430.9475278803298,
  257.80809942568976,
  263.17416316163934]}

##### Data seems random. So replacing with median wouldnot be appropiate.

In [273]:
df_amount_invested_monthly['Amount_invested_monthly'].isna().sum()

4479

## PreProcessing Payment_Behaviour

In [283]:
df_payment_behaviour = df_amount_invested_monthly.copy()

In [284]:
print('Unique Value Count : ',df_payment_behaviour['Payment_Behaviour'].nunique())
print('Null Value Count : ',df_payment_behaviour['Payment_Behaviour'].isna().sum())

Unique Value Count :  7
Null Value Count :  0

In [285]:
df_payment_behaviour['Payment_Behaviour'].value_counts()

Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: Payment_Behaviour, dtype: int64

### Checking Corresponding Unique_Payment_Behaviour_values.

In [286]:
corresponding_unique_payment_behaviour_values = {}
for ssn in unique_SSN:
    corresponding_unique_payment_behaviour_values[ssn] = list(df_payment_behaviour[df_payment_behaviour['SSN'] == ssn]['Payment_Behaviour'].unique())

In [287]:
dict(itertools.islice(corresponding_unique_payment_behaviour_values.items(),5))

{821000265: ['High_spent_Small_value_payments',
  'Low_spent_Large_value_payments',
  'Low_spent_Medium_value_payments',
  'Low_spent_Small_value_payments',
  'High_spent_Medium_value_payments',
  '!@9#%8'],
 4075839: ['Low_spent_Small_value_payments',
  'High_spent_Large_value_payments',
  'Low_spent_Medium_value_payments',
  'High_spent_Medium_value_payments'],
 486853974: ['!@9#%8',
  'High_spent_Small_value_payments',
  'Low_spent_Medium_value_payments',
  'Low_spent_Large_value_payments',
  'High_spent_Medium_value_payments'],
 72316145: ['Low_spent_Large_value_payments',
  'Low_spent_Small_value_payments',
  'High_spent_Medium_value_payments',
  'High_spent_Small_value_payments'],
 615067821: ['!@9#%8',
  'High_spent_Medium_value_payments',
  'Low_spent_Medium_value_payments',
  'High_spent_Small_value_payments',
  'Low_spent_Small_value_payments']}

##### Couldnot find how to replace the noisy values. So will probably drop them later.

### Mapping.

In [288]:
def map_payment_behaviour(txt):
    if txt == '!@9#%8':
        return 'NotSpecified'
    else:
        return txt

In [289]:
df_payment_behaviour['Payment_Behaviour'] = df_payment_behaviour['Payment_Behaviour'].apply(map_payment_behaviour)

In [291]:
df_payment_behaviour['Payment_Behaviour'].value_counts()

Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
NotSpecified                         7600
Name: Payment_Behaviour, dtype: int64

### PreProcessing Monthly_Balance

In [292]:
df_monthly_balance = df_payment_behaviour.copy()

In [293]:
print('Unique Value Count :',df_monthly_balance['Monthly_Balance'].nunique())
print('Null Value Count :',df_monthly_balance['Monthly_Balance'].isna().sum())

Unique Value Count : 98792
Null Value Count : 1200

### Checking Noisy Data.

In [294]:
df_monthly_balance['Monthly_Balance'].fillna('nan', inplace = True)

In [295]:
underscore_monthly_balance_limit = 0
underscore_monthly_balance_limit_list = []

for index in range(len(df_monthly_balance)):
    try:
        if '_' in  df_monthly_balance['Monthly_Balance'][index]:
            underscore_monthly_balance_limit += 1
            underscore_monthly_balance_limit_list.append(df_monthly_balance['Monthly_Balance'][index])
    except:
        pass        
print("underscore_monthly_balance_limit Count : ",underscore_monthly_balance_limit,"|| Unique underscore_monthly_balance_limit count :",len(set(underscore_monthly_balance_limit_list)), " || Example : ",underscore_monthly_balance_limit_list[0:5])

underscore_monthly_balance_limit Count :  9 || Unique underscore_monthly_balance_limit count : 1  || Example :  ['__-333333333333333333333333333__', '__-333333333333333333333333333__', '__-333333333333333333333333333__', '__-333333333333333333333333333__', '__-333333333333333333333333333__']

### Handling Noisy Data.

In [296]:
for index in range(len(df_monthly_balance)):
    try:
        if '_' in df_monthly_balance['Monthly_Balance'][index]:
            df_monthly_balance['Monthly_Balance'][index] = 'nan'
    except:
        pass

### Checking Corresponding Unique_Monthly_Balance_Values.

In [297]:
corresponding_unique_monthly_balance_values = {}
for ssn in unique_SSN:
    corresponding_unique_monthly_balance_values[ssn] = list(df_monthly_balance[df_monthly_balance['SSN'] == ssn]['Monthly_Balance'].unique())

In [298]:
dict(itertools.islice(corresponding_unique_monthly_balance_values.items(),3))

{821000265: ['312.49408867943663',
  '284.62916249607184',
  '331.2098628537912',
  '223.45130972736786',
  '341.48923103222177',
  '340.4792117872438',
  '244.5653167062043',
  '358.12416760938714'],
 4075839: ['470.69062692529184',
  '484.5912142650067',
  '466.46647639764313',
  '465.6762241330048',
  '444.8670318506144',
  '481.505261949182',
  '464.8806778859809',
  '356.07810855965045'],
 486853974: ['1043.3159778669492',
  '998.8692967863226',
  '715.741367403555',
  '426.5134106068658',
  '810.7821526659284',
  '963.9215811205684',
  '968.5555173846187',
  '895.494583180492']}

#### Filling "nan" values.

In [299]:
print('Original Values')
[float(val) for val in corresponding_unique_monthly_balance_values[189095267] ]
print('------------------------')
print('Processed Values')
[float(val) for val in corresponding_unique_monthly_balance_values[189095267] if val != 'nan' ]
print('------------------------')
print('Median')
statistics.median([float(val) for val in corresponding_unique_monthly_balance_values[189095267] if val != 'nan' ])

Original Values

[295.95384132335937,
 327.78667784262745,
 27.301874884033168,
 324.0195577438599,
 356.4099009976813,
 nan,
 316.9280131621217,
 362.5233313219053]

------------------------
Processed Values

[295.95384132335937,
 327.78667784262745,
 27.301874884033168,
 324.0195577438599,
 356.4099009976813,
 316.9280131621217,
 362.5233313219053]

------------------------
Median

324.0195577438599

In [300]:
for index in range(len(df_monthly_balance)):
    if df_monthly_balance['Monthly_Balance'][index] == 'nan':
        median = statistics.median([float(val) for val in corresponding_unique_monthly_balance_values[df_monthly_balance['SSN'][index]] if val != 'nan' ])
        df_monthly_balance['Monthly_Balance'][index] = median

In [301]:
df_monthly_balance['Monthly_Balance'] = df_monthly_balance['Monthly_Balance'].astype(float)

In [302]:
print('Null Value Count :',df_monthly_balance['Monthly_Balance'].isna().sum())

Null Value Count : 0

## PreProcessing Credit_Score

In [303]:
df_credit_score = df_monthly_balance.copy()

In [304]:
df_credit_score['Credit_Score'].value_counts()
print('--------------------')
print('Number of NAN values')
df_credit_score['Credit_Score'].isna().sum()

Standard    53174
Poor        28998
Good        17828
Name: Credit_Score, dtype: int64

--------------------
Number of NAN values

0

### Saving Data file

In [305]:
df_final = df_credit_score.copy()

In [306]:
df_final.to_csv('checkpoints//11_df_final.csv',index = False)

In [307]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Month                     100000 non-null  object
 1   Age                       100000 non-null  int64
 2   SSN                       100000 non-null  int64
 3   Occupation                100000 non-null  object
 4   Annual_Income             100000 non-null  float64
 5   Monthly_Inhand_Salary     100000 non-null  float64
 6   Num_Bank_Accounts         100000 non-null  int64
 7   Num_Credit_Card           100000 non-null  int64
 8   Interest_Rate             100000 non-null  int64
 9   Num_of_Loan               100000 non-null  int64
 10  Type_of_Loan              100000 non-null  object
 11  Delay_from_due_date       100000 non-null  int64
 12  Num_of_Delayed_Payment    100000 non-null  float64
 13  Changed_Credit_Limit      100000 non-null  float64
 14  Num_Credit_Inquiries      100000 non-null  float64
 15  Credit_Mix                100000 non-null  object
 16  Outstanding_Debt          100000 non-null  float64
 17  Credit_Utilization_Ratio  100000 non-null  float64
 18  Credit_History_Age        100000 non-null  int64
 19  Payment_of_Min_Amount     100000 non-null  object
 20  Total_EMI_per_month       100000 non-null  float64
 21  Amount_invested_monthly   95521 non-null   float64
 22  Payment_Behaviour         100000 non-null  object
 23  Monthly_Balance           100000 non-null  float64
 24  Credit_Score              100000 non-null  object
dtypes: float64(10), int64(8), object(7)
memory usage: 19.1+ MB

In [308]:
df_final.isna().sum()

Month                          0
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary          0
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                   0
Delay_from_due_date            0
Num_of_Delayed_Payment         0
Changed_Credit_Limit           0
Num_Credit_Inquiries           0
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age             0
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     4479
Payment_Behaviour              0
Monthly_Balance                0
Credit_Score                   0
dtype: int64

In [309]:
df_final.head()

,Month,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,Good,809.98,26.822620,265,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,February,23,821000265,Scientist,19114.12,10855.995546,3,4,3,4,...,Good,809.98,31.944960,266,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,March,23,821000265,Scientist,19114.12,10855.995546,3,4,3,4,...,Good,809.98,28.609352,267,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,April,23,821000265,Scientist,19114.12,10855.995546,3,4,3,4,...,Good,809.98,31.377862,268,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,May,23,821000265,Scientist,19114.12,1824.843333,3,4,3,4,...,Good,809.98,24.797347,269,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good